@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Sans+Mono:ital,wght@0,400..700;1,400..700&display=swap');
/* <weight>: Use a value from 400 to 0700 */

/* ----------------------- Page Setup ----------------------- */
.code {
  font-family: "Dosis", sans-serif;
}

.code * {
	--background-color: 28, 28, 44;
	--primary-color: 243, 172, 208;
	--text: 255, 255, 255;

	--red-tint: 247, 151, 130;
	--orange-tint: 247, 202, 130;
	--yellow-tint: 222, 233, 165;
	--green-tint: 165, 233, 176;
	--blue-tint: 165, 214, 230;
	--purple-tint: 213, 168, 233;

	--medium-radius: 6px;
	--small-radius: 4px;
	
	--file-line-width: 60%;

	font-family: "Dosis", sans-serif;
}

/* ----------------------- Background ----------------------- */
.code {
  background-color: transparent;
  background-image: url('');
  background-size: cover;
}

/* ----------------------- Properties ----------------------- */
/* ----------------------- Headings ----------------------- */
.code span.cm-header-1,
.code h1 {
  color: rgb(var(--primary-color));
  margin-top: 5px;
  margin-block-end: 0;
  padding: 5px 25px !important;
  width: fit-content;

  background-color: rgb(var(--background-color));
  border-radius: var(--small-radius);
}

.code span.cm-header-2,
.code h2 {
  color: rgb(var(--secondary-color));
  margin-top: 5px;
  margin-block-end: 0;
  padding: 2px 25px !important;

  background-color: rgb(var(--background-color));
  border-radius: var(--medium-radius);
}

/* ----------------------- Code Blocks ----------------------- */
.code span.cm-header-6,
.code h6 {
  margin-top: 5px;
  margin-block-end: 0;
  padding: 5px 25px !important;

  font-family: "Ubuntu Sans Mono", monospace;
  color: rgb(var(--accent-color));
  background-color: rgb(var(--background-color));
  border-radius: var(--medium-radius) var(--medium-radius) 0 0;
}

.markdown-rendered.code pre[class*="language-"],
.markdown-rendered.code pre {
  margin-top: 0;
  margin-bottom: -5px;
  background: #32324330;
  border-radius: 0 0 var(--medium-radius) var(--medium-radius);
}

div.markdown-preview-view.code > div > div > pre > code {
  color: var(--text) !important;
}

.markdown-rendered.code div:has( > :is(p,pre,table,ul,ol)) + div > :is(h1,h2,h3,h4,h5,h6) {
  margin-top: 15px;
}

.code .cm-line.HyperMD-codeblock {
  color: var(--text);
  font-family: "Ubuntu Sans Mono", monospace;
}

.code .cm-line.HyperMD-codeblock-begin {
  border-radius: 0 var(--small-radius) 0 0 !important;
}

.code .cm-line.HyperMD-codeblock-end {
  border-radius: 0 0 var(--small-radius) var(--small-radius) !important;
}

/* ------------------------------------------- Callout ------------------------------------------- */
.code .callout {
	background-color: rgb(var(--background-color), .75);
	padding: 10px 25px 25px 25px;
	p
	border-radius: 2px,;
}

.code .image-embed img {
	max-height: 350px;
	border-radius: 2px;
}

.code .palette {
	height: 60px;
	border-radius: 8px 8px 0 0;
}