@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Sans+Mono:ital,wght@0,400..700;1,400..700&display=swap');
/* <weight>: Use a value from 400 to 0700 */

/* ----------------------- Page Setup ----------------------- */
.code {
	font-family: "Dosis", sans-serif;
}

.code * {
	--catboy-red: 223, 89, 101;
	--catboy-orange: 250, 179, 135;
	--catboy-yellow: 249, 226, 175;
	--catboy-green: 166, 227, 161;
	--catboy-light-blue: 171, 222, 245;
	--catboy-blue: 116, 199, 236;
	--catboy-dark-blue: 127, 171, 244;
	--catboy-purple: 203, 166, 247;
	--catboy-pink: 245, 194, 231;
	--catboy-black: 38, 34, 41;
	--catboy-white: 245, 245, 245;

	--catboy-surface: 49, 50, 68;
	--catboy-base: 30, 30, 46;
	--catboy-mantle: 24, 24, 37;
	--catboy-crust: 17, 17, 27;

	--small-radius: 2px;
	--code-normal: 245, 245, 245;
	/* Font */
	font-family: "Dosis", sans-serif;
}

.markdown-source-view.mod-cm6 .cm-line.HyperMD-codeblock {
	color: rgb(var(--catboy-white)) !important;
}


/* --------------------------------------- Properties --------------------------------------- 
.code .mod-header {
	padding: 0;
	padding-top: 10px;
	position: relative;
	left: 5px;
}

.code .metadata-container {
	background-color: rgb(var(--background-color), .25);
	padding: 10px 25px;
	border-radius: 10px;
}

.code .metadata-properties-heading.is-collapsed {
	margin: 0;
}

/* ---------------------------------------- Headings ---------------------------------------- 
.code span.cm-header-1, .code h1 {
	margin-top: 5px;
	margin-block-end: 0;
	padding: 5px 25px !important;
	width: fit-content;
	border-radius: var(--small-radius);
}

.code span.cm-header-2, .code h2 {
	margin-top: 5px;
	margin-block-end: 0;
	padding: 2px 25px !important;
	border-radius: var(--medium-radius);
}

.code span.cm-header-6, .code h6 {
	margin-top: 5px;
	margin-block-end: 0;
	padding: 5px 25px !important;
	font-family: "Ubuntu Sans Mono", monospace;
	-webkit-text-fill-color: rgb(var(--text));
	background-clip: unset;
	-webkit-background-clip: unset;
	border-radius: var(--medium-radius) var(--medium-radius) 0 0;
}

/* ------------------------- Callout ------------------------- */
	.code .callout {
		padding: 10px 25px 25px 25px;
		margin-top: 0;
		background: rgb(var(--catboy-crust), .25);
		border-radius: var(--small-radius);
		border: none;
		border-left: 5px solid rgb(var(--catboy-purple));
	}

	.code .callout-title, .code .callout-icon .svg-icon, .callout-fold svg {
		color: var(--pink);
		-webkit-text-fill-color: transparent;
		background-clip: text;
		-webkit-background-clip: text;
		background-image: linear-gradient(var(--gradientDegree), var(--pink) 0, var(--orange) 100%);
	}

	.markdown-rendered.code p {
		margin-top: var(--p-spacing) !important;
	}

/* ---------- Code Blocks ---------- */
.markdown-rendered.code pre[class*="language-"], .markdown-rendered.code pre {
	margin-top: 0;
	margin-bottom: -5px;
	background: rgb(var(--catboy-base));
	border-radius: var(--small-radius);
	border-left: 5px solid rgb(var(--catboy-purple));
}

.code .cm-line {
	.HyperMD-codeblock { color: rgb(var(--catboy-white)) !important; }
	.HyperMD-codeblock-begin { border-radius: 0 var(--small-radius) 0 0 !important; }
	.HyperMD-codeblock-end { border-radius: 0 0 var(--small-radius) var(--small-radius) !important; }
}

.code .HyperMD-codeblock-end-bg span, .code .HyperMD-codeblock-begin-bg span {
	color: rgb(var(--catboy-blue)) !important;
	font-weight: 600;
}

/* --- Difference --- */
.code pre.language-diff {
	margin-bottom: 10px !important;
	.token {
		font-weight: 600;
		&.inserted { color: rgb(var(--catboy-green)) !important; }
		&.deleted { color: rgb(var(--catboy-red)) !important; }
		&.bold { color: rgb(var(--catboy-yellow)); }
		&.coord { color: rgb(var(--catboy-white)) !important; }
	}
}