@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');

/* ---------------------------------------- Background ---------------------------------------- */
.dream-journal-test {
	background: url("https://raw.githubusercontent.com/lunaria79/Jackalupes-Corner/main/01%20Dream%20Journal/Stage%20Files/themes/kiki-farmhouse.jpg") center center / cover no-repeat;
}

.dream-journal-test * {
	/* Colors */
	--background-color: 28, 28, 44;
	--primary-color: 243, 172, 208;
	--text: 255, 255, 255;
	--red-tint: 247, 151, 130;
	--orange-tint: 247, 202, 130;
	--yellow-tint: 222, 233, 165;
	--green-tint: 165, 233, 176;
	--blue-tint: 165, 214, 230;
	--purple-tint: 213, 168, 233;
	/* Sizes */
	--large-radius: 20px;
	--medium-radius: 10px;
	--small-radius: 5px;
	--file-line-width: 60%;
	/* Fonts */
	font-family: "Dosis", sans-serif;
}

.nothing-left-to-say * {
	/* Colors */
	--background-color: 18, 14, 11;
	--primary-color: 143, 134, 117;
	--yellow-tint: 153, 149, 107;
	--green-tint: 81, 88, 70;
	--blue-tint: 62, 74, 77;
	--text: 199, 195, 186;
	/* Fonts */
	font-family: "Barlow", sans-serif;
}

.app-container .arcane-school * {
	/* Colors */
	--background-color: 255, 255, 255;
	--primary-color: 0, 0, 0;
	--red-tint: 185, 51, 73;
	--blue-tint: 96, 159, 230;
	--purple-tint: 229, 36, 142;
	--text: 0, 0, 0;
	/* Sizes */
	--medium-radius: 0;
	/* Font */
	font-family: "Aleo", serif !important;
}

.gods-and-fiends * {
	/* Colors */
	--background-color: 21, 7, 29;
	--primary-color: 185, 51, 73;
	--text: 255, 230, 215;
	--red-tint: 185, 51, 73;
	--blue-tint: 96, 159, 230;
	--purple-tint: 229, 36, 142;
	/* Fonts */
	font-family: "Barlow", sans-serif;
}

.milo-caspian * {
	/* Colors */
	--background-color: 51, 41, 27;
	--primary-color: 226, 183, 113;
	--text: 248, 244, 215;
	--red-tint: 189, 101, 53;
	--orange-tint: 203, 155, 79;
	--yellow-tint: 235, 238, 136;
	--green-tint: 161, 182, 94;
	--blue-tint: 179, 246, 229;
	--purple-tint: 220, 156, 172;
	/* Fonts */
	font-family: "Rokkitt", serif;
}

div.markdown-source-view.dream-journal-test.is-live-preview,
.markdown-source-view.dream-journal-test {
	background-image: none;
	background-color: transparent;
}

div.markdown-reading-view > div.markdown-preview-view.dream-journal-test > div {
	backdrop-filter: blur(0px);
	padding: 10px;
	max-width: 65%;
}

.mod-header {
	padding: 10px;
}

div.html-tab-content {
	padding: 0;
}

/* --------------------------------------------- Tile ---------------------------------------------- */
.dream-journal-test * {
	--tile-background: rgb(var(--background-color), .99) ;
	--tile-border-radius: 0 var(--medium-radius) var(--medium-radius) 0 ;
	--tile-border: 5px solid rgb(var(--primary-color)) ;
}

.markdown-preview-view.dream-journal-test div.inline-title,
.dream-journal-test div.metadata-container,
.dream-journal-test div.html-tabs,
.dream-journal-test .box {
	/*Position */
	transform: unset;
	/* Size */
	padding: 10px 25px;
	width: 100%;
	/* Colors */
	
	background-color: var(--tile-background);
	/* Border */
	border-left: var(--tile-border);
	border-radius: var(--tile-border-radius);
	box-shadow: none;
}

.dream-journal-test div.metadata-container {
	/* Size */
	margin: 0;
}

.dream-journal-test div.html-tabs {
	/* Size */
	padding: 5px 0 8px 20px;
	margin: 0 10px;
	width: unset;
	/* Border */
	border-bottom: none;
}


.dream-journal-test .box {
	max-height: 750px;
	overflow: scroll;
	scroll-behavior: smooth;	
}

/* -------------------------------------------- Headings -------------------------------------------- */
.dream-journal-test .inline-title,
.dream-journal-test h1,
.dream-journal-test h2,
.dream-journal-test h3,
.dream-journal-test h4,
.dream-journal-test h5,
.dream-journal-test h6 {
	/* Removes Heading Gradient */
	-webkit-text-fill-color: currentColor !important;
	-webkit-background-clip: unset !important;
	background-clip: unset !important;
	background-image: none !important;
}

/* ------------------------------------------- Properties ------------------------------------------- */
.dream-journal-test .metadata-properties-title {
	/* Title Apperance */
	color: rgb(var(--primary-color));
	font-weight: 800;
}

.metadata-property .multi-select-container:focus,
.metadata-property .multi-select-container:focus-within {
	/* Focus Highlight */
	background-color: #202335;
}	


.dream-journal-test .metadata-add-button.text-icon-button {
	/* Hides Add Property */
	display: none;
}

.dream-journal-test div.metadata-properties-heading.is-collapsed {
	/* Properties Collapsed Behavior */
	padding: 0;
}

.dream-journal-test div.metadata-container.is-collapsed {
	/* Properties Collapsed Behavior */
	height: 45px;
}

/* ---------- Classes ---------- */
.dream-journal-test .metadata-property[data-property-key="cssclasses"] .metadata-property-icon svg.svg-icon,
.dream-journal-test .metadata-property[data-property-key="cssclasses"] input.metadata-property-key-input {
	color: rgb(var(--blue-tint));
}

.dream-journal-test .metadata-property[data-property-key="tags"] .metadata-property-icon svg.svg-icon,
.dream-journal-test .metadata-property[data-property-key="tags"] input.metadata-property-key-input {
	color: rgb(var(--orange-tint));
}

.dream-journal-test .metadata-property[data-property-key="Completed"] svg.svg-icon,
.dream-journal-test .metadata-property[data-property-key="Completed"] input.metadata-property-key-input {
	color: rgb(var(--green-tint));
}

.dream-journal-test .metadata-property[data-property-key="Home"] svg.svg-icon,
.dream-journal-test .metadata-property[data-property-key="Home"] input.metadata-property-key-input {
	color: rgb(var(--yellow-tint));
}

.dream-journal-test .metadata-property-icon svg.svg-icon,
.dream-journal-test .metadata-property {
	font-weight: 700;
	cursor: pointer;
}

.dream-journal-test .metadata-add-button.text-icon-button {
	color: rgb(var(--text));
}

/* ---------- Tags ---------- */
.dream-journal-test .multi-select-pill-content,
.dream-journal-test .multi-select-pill svg.svg-icon {
	color: black;
	font-weight: 700;
}

.dream-journal-test div.multi-select-pill-content span {
	margin-top: 2px !important;
}

.dream-journal-test .metadata-property .multi-select-pill {
	background-color: rgb(var(--purple-tint));
	border-radius: var(--small-radius);
	padding: 3px 5px;
	cursor: pointer;
}

.dream-journal-test .metadata-property[data-property-key="cssclasses"] .multi-select-pill,
.dream-journal-test .metadata-property[data-property-key="cssclasses"] .multi-select-pill-content,
.dream-journal-test .metadata-property[data-property-key="cssclasses"] .multi-select-pill-remove-button svg {
	background-color: rgb(var(--blue-tint));
	color: rgb(var(--background-color));
	font-weight: 700;
}

.dream-journal-test .metadata-property[data-property-key="tags"] .multi-select-pill,
.dream-journal-test .metadata-property[data-property-key="tags"] .multi-select-pill-content,
.dream-journal-test .metadata-property[data-property-key="tags"] .multi-select-pill-remove-button svg {
	background-color: rgb(var(--orange-tint));
	color: rgb(var(--background-color));
	font-weight: 700;
}

.dream-journal-test .metadata-property[data-property-key="Home"] .multi-select-pill,
.dream-journal-test .metadata-property[data-property-key="Home"] .multi-select-pill-content,
.dream-journal-test .metadata-property[data-property-key="Home"] .multi-select-pill-remove-button svg {
	background-color: transparent;
	color: rgb(var(--yellow-tint));
	font-weight: 700;
	text-decoration: none;
}

/* ---------- Checkboxes ---------- */
.theme-dark:not(.css-settings-manager) .dream-journal-test input[type=checkbox]:not(:checked) {
	color: rgb(var(--red-tint));
	background-color: transparent !important;
	border: 2px solid rgb(var(--red-tint));
	border-radius: var(--small-radius);
	cursor: pointer !important;
}

.theme-dark:not(.css-settings-manager) .dream-journal-test input[type=checkbox]:checked {
	background: rgb(var(--green-tint));
	border-radius: var(--small-radius);
	border-color: rgb(var(--green-tint));
	cursor: pointer !important;
}

.dream-journal-test input[type=checkbox]:checked:after {
	background: rgb(var(--green-tint));
	border-radius: var(--small-radius);
	-webkit-mask-image: none;
	cursor: pointer !important;
}

/* ---------------------------------------- Tabs ---------------------------------------- */
.dream-journal-test div.html-tab {
	padding: 0;
	height: 30px;
}

.dream-journal-test div.html-tab:hover {
	color: rgb(var(--primary-color));
}

.dream-journal-test .html-tab-active {
	color: rgb(var(--text));
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-color: rgb(var(--primary-color));
}

.markdown-rendered.dream-journal-test .html-tab p {
	margin-top: 0;
	margin-bottom: 12px;
}

/* ---------------------------------------- Information Grid ---------------------------------------- */
/* ---------- https://codepen.io/Fraasi/pen/aKBbmw ---------- */
.dream-journal-test .wrapper {
	grid-template-columns: 1fr 1fr;
	background-color: transparent;
	padding: 10px;
	width: 100%;
	margin: 10px auto;
	margin-top: 0;
}

.dream-journal-test .grid {
	display: grid;
	grid-gap: 10px;
}

.dream-journal-test .grid.left {
	grid-column: 1 / span 1;
	grid-auto-rows: min-content;
}

.dream-journal-test .grid.right {
	grid-column: span 1 / -1;
	grid-auto-rows: min-content;
}

.dream-journal-test .callout-title {
	margin-top: 15px;
}

.dream-journal-test .callout-icon svg {
	margin-top: -5px;
}

.dream-journal-test .callout-title-inner {
	margin-top: -2px;
	font-weight: 700;
}

.dream-journal-test h3 {
	margin: 0 !important;
	background-image: none;
}

.dream-journal-test .box img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 3px;
	width: 65%;
	background-color: rgb(var(--background-color), .5);
}

.dream-journal-test .char-note img {
	width: 200px;
	height: 200px;
	object-fit: cover;
	float: left;
	margin-right: 10px;
}

.markdown-rendered.dream-journal-test p {
	margin-top: 0;
	margin-bottom: 12px;
}