@import url('https://fonts.googleapis.com/css2?family=Rokkitt:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,100..900;1,100..900&display=swap');

/* 
	Rokkit: Milo & Caspian
	Barlow: Of Gods & Fiends, Nothing Left to Say
	Aleo: Arcane School
*/

/* ------------------------------------------ Milo & Caspian ----------------------------------------- */
	.milo-caspian * {
		/* Colors */
		--background-color: 33, 29, 29;
		--background-highlight: 209, 138, 152, .1;
		--primary-color: 209, 138, 152;
		--text: 204, 195, 197;
		/* Tints */
		--primary-tint: 209, 138, 152;
		--secondary-tint: 166, 189, 238;
		--tertiary-tint: 139, 114, 152;

		/* Fonts */
		font-family: "Rokkitt", serif;
	}

	.milo-caspian {
		background: url("https://raw.githubusercontent.com/lunaria79/Jackalupes-Corner/main/01%20Dream%20Journal/Stage%20Files/themes/Milo%20%26%20Caspian.jpg") center center / cover no-repeat;
		background-blend-mode: soft-light;
		background-color: rgb(var(--background-color), .5);
	}

	.milo-caspian .box b {
		/* blue accents */
		color: rgb(var(--primary-tint));
	}

	.milo-caspian .box i {
		/* purple accents */
		color: rgb(var(--secondary-tint));
	}

/* ------------------------------------------ Gods & Fiends ------------------------------------------ */
	.gods-and-fiends * {
		/* Colors */
		--background-color: 21, 7, 29;
		--background-highlight: 185, 51, 73, .1;
		--primary-color: 185, 51, 73;
		--text: 255, 230, 215;
		--red-tint: 185, 51, 73;
		--blue-tint: 96, 159, 230;
		--purple-tint: 229, 36, 142;
		/* Fonts */
		font-family: "Barlow", sans-serif;
	}

	/* -------------------- Properties -------------------- */
	.gods-and-fiends {
		background: url("https://raw.githubusercontent.com/lunaria79/Jackalupes-Corner/main/01%20Dream%20Journal/Stage%20Files/themes/Crimson%20City%20-%20hereisbis%20twit.jpg") center center/ cover no-repeat;
		background-blend-mode: soft-light;
		background-color: rgb(var(--background-color), .15) !important;
	}

	.gods-and-fiends .metadata-property[data-property-key="cssclasses"] .metadata-property-icon svg.svg-icon,
	.gods-and-fiends .metadata-property[data-property-key="cssclasses"] input.metadata-property-key-input,
	.gods-and-fiends .metadata-property[data-property-key="Completed"] .metadata-property-icon svg.svg-icon,
	.gods-and-fiends .metadata-property[data-property-key="Completed"] input.metadata-property-key-input {
		color: rgb(var(--text)) !important;
	}

	.gods-and-fiends .metadata-property[data-property-key="Home"] .metadata-property-icon svg.svg-icon,
	.gods-and-fiends .metadata-property[data-property-key="Home"] input.metadata-property-key-input,
	.gods-and-fiends .metadata-property[data-property-key="tags"] .metadata-property-icon svg.svg-icon,
	.gods-and-fiends .metadata-property[data-property-key="tags"] input.metadata-property-key-input {
		color: rgb(var(--red-tint)) !important;
	}

	.gods-and-fiends .metadata-property[data-property-key="cssclasses"] .multi-select-pill,
	.gods-and-fiends .metadata-property[data-property-key="cssclasses"] .multi-select-pill-content,
	.gods-and-fiends .metadata-property[data-property-key="cssclasses"] .multi-select-pill-remove-button svg {
		background-color: rgb(var(--text)) !important;
		color: rgb(var(--red-tint)) !important;
		font-weight: 700;
	}

	.gods-and-fiends .metadata-property[data-property-key="tags"] .multi-select-pill,
	.gods-and-fiends .metadata-property[data-property-key="tags"] .multi-select-pill-content,
	.gods-and-fiends .metadata-property[data-property-key="tags"] .multi-select-pill-remove-button svg,
	.gods-and-fiends .metadata-property[data-property-key="Home"] .multi-select-pill,
	.gods-and-fiends .metadata-property[data-property-key="Home"] .multi-select-pill-content,
	.gods-and-fiends .metadata-property[data-property-key="Home"] .multi-select-pill-remove-button svg {
		background-color: rgb(var(--red-tint)) !important;
		color: rgb(var(--text)) !important;
	}

	/* ---------- Checkboxes ---------- */
	.theme-dark:not(.css-settings-manager) .gods-and-fiends input[type=checkbox]:not(:checked) {
		color: rgb(var(--primary-color)) !important;
		border: 2px solid rgb(var(--primary-color)) !important;
	}

	.theme-dark:not(.css-settings-manager) .gods-and-fiends input[type=checkbox]:checked {
		background: rgb(var(--text)) !important;
	}

	.gods-and-fiends input[type=checkbox]:checked:after {
		background: rgb(var(--text)) !important;
	}

	/* -------------------- Custom Tile -------------------- */
	.gods-and-fiends .char-note {
		border-left-color: rgb(var(--purple-tint));
	}

	.gods-and-fiends .def-note {
		border-left-color: rgb(var(--blue-tint));
	}

	/* -------------------- Custom SVG -------------------- */
	.gods-and-fiends .box.char-note .callout-title-inner::before {
		background-color: rgb(var(--purple-tint)) !important;
	}

	.gods-and-fiends .box.def-note .callout-title-inner::before {
		background-color: rgb(var(--blue-tint)) !important;
	}

	/* -------------------- Changes -------------------- */
	.gods-and-fiends h3 {
		color: rgb(var(--yellow-tint)) !important;
	}

	.markdown-preview-view.gods-and-fiends div.inline-title {
		color: rgb(var(--text)) !important;
	}

	.gods-and-fiends .char-note div.callout-title {
		color: rgb(var(--purple-tint)) !important;
	}

	.gods-and-fiends .def-note div.callout-title {
		color: rgb(var(--blue-tint)) !important;
	}

	.gods-and-fiends b {
		color: rgb(var(--blue-tint)) !important;
		font-weight: 800;
	}

	.gods-and-fiends i {
		color: rgb(var(--purple-tint)) !important;
		font-weight: 700;
	}

	/* -------------------- CRT -------------------- */
	/* https://aleclownes.com/2017/02/01/crt-display.html */
	.markdown-reading-view div.crt div.markdown-preview-sizer::before {
		content: " ";
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		background: linear-gradient(90deg, rgba(21, 7, 29, 0.15) 0%, rgba(185, 51, 73, 0.10247426607361698) 50%, rgba(21, 7, 29, 0.15) 100%);
		z-index: 2;
		background-size: 100% 2px, 3px 100%;
		pointer-events: none;
	}

	@keyframes flicker {
		0% { opacity: 0.27861; }
		5% { opacity: 0.34769; }
		10% { opacity: 0.23604; }
		15% { opacity: 0.90626; }
		20% { opacity: 0.18128; }
		25% { opacity: 0.83891; }
		30% { opacity: 0.65583; }
		35% { opacity: 0.67807;	}
		40% { opacity: 0.26559;	}
		45% { opacity: 0.84693;	}
		50% { opacity: 0.96019;	}
		55% { opacity: 0.08594;	}
		60% { opacity: 0.20313;	}
		65% { opacity: 0.71988;	}
		70% { opacity: 0.53455;	}
		75% { opacity: 0.37288;	}
		80% { opacity: 0.71428;	}
		85% { opacity: 0.70419;	}
		90% { opacity: 0.70030;	}
		95% { opacity: 0.36108;	}
		100% { opacity: 0.24387; }
	}

	.markdown-reading-view div.crt div.markdown-preview-sizer::after {
		content: " ";
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		background: rgba(21, 7, 29, .1);
		opacity: 0;
		z-index: 2;
		pointer-events: none;
		animation: flicker 1s infinite;
	}

/* --------------------------------------- Nothing Left to Say --------------------------------------- */
	.nothing-left-to-say * {
		/* Colors */
		--background-color: 18, 14, 11;
		--background-highlight: 143, 134, 117, .1;
		--primary-color: 143, 134, 117;
		--yellow-tint: 153, 149, 107;
		--green-tint: 81, 88, 70;
		--blue-tint: 62, 74, 77;
		--text: 199, 195, 186;
		/* Fonts */
		font-family: "Barlow", sans-serif;
	}

	.nothing-left-to-say {
		background: url("https://raw.githubusercontent.com/lunaria79/Jackalupes-Corner/main/01%20Dream%20Journal/Stage%20Files/themes/sleeping-deer.jpg") center center / cover no-repeat;
		background-size: 100%;
	}

	/* -------------------- Font Changes -------------------- */
	.nothing-left-to-say h4 {
		color: rgb(var(--yellow-tint)) !important;
	}

	.markdown-preview-view.nothing-left-to-say div.inline-title {
		color: rgb(var(--text)) !important;
	}

	.nothing-left-to-say .char-note div.callout-title {
		color: rgb(var(--blue-tint)) !important;
	}

	.nothing-left-to-say .def-note div.callout-title {
		color: rgb(var(--blue-tint)) !important;
	}

	.nothing-left-to-say img {
		width: 200px;
		float: left;
		margin-right: 10px;
	}

	/* -------------------- Properties -------------------- */
	.nothing-left-to-say .metadata-property[data-property-key="cssclasses"] .metadata-property-icon svg.svg-icon,
	.nothing-left-to-say .metadata-property[data-property-key="cssclasses"] input.metadata-property-key-input,
	.nothing-left-to-say .metadata-property[data-property-key="Completed"] .metadata-property-icon svg.svg-icon,
	.nothing-left-to-say .metadata-property[data-property-key="Completed"] input.metadata-property-key-input {
		color: rgb(var(--text));
	}

	.nothing-left-to-say .metadata-property[data-property-key="Home"] .metadata-property-icon svg.svg-icon,
	.nothing-left-to-say .metadata-property[data-property-key="Home"] input.metadata-property-key-input,
	.nothing-left-to-say .metadata-property[data-property-key="tags"] .metadata-property-icon svg.svg-icon,
	.nothing-left-to-say .metadata-property[data-property-key="tags"] input.metadata-property-key-input {
		color: rgb(var(--green-tint));
	}

	.nothing-left-to-say .metadata-property[data-property-key="cssclasses"] .multi-select-pill,
	.nothing-left-to-say .metadata-property[data-property-key="cssclasses"] .multi-select-pill-content,
	.nothing-left-to-say .metadata-property[data-property-key="cssclasses"] .multi-select-pill-remove-button svg {
		background-color: rgb(var(--text));
		color: rgb(var(--green-tint));
		font-weight: 700;
	}

	.nothing-left-to-say .metadata-property[data-property-key="tags"] .multi-select-pill,
	.nothing-left-to-say .metadata-property[data-property-key="tags"] .multi-select-pill-content,
	.nothing-left-to-say .metadata-property[data-property-key="tags"] .multi-select-pill-remove-button svg,
	.nothing-left-to-say .metadata-property[data-property-key="Home"] .multi-select-pill,
	.nothing-left-to-say .metadata-property[data-property-key="Home"] .multi-select-pill-content,
	.nothing-left-to-say .metadata-property[data-property-key="Home"] .multi-select-pill-remove-button svg {
		background-color: rgb(var(--green-tint));
		color: rgb(var(--text));
		font-weight: 700;
	}

	/* ---------- Checkboxes ---------- */
	.theme-dark:not(.css-settings-manager) .nothing-left-to-say input[type=checkbox]:not(:checked) {
		color: rgb(var(--primary-color)) !important;
		background-color: transparent !important;
		border: 2px solid rgb(var(--primary-color)) !important;
	}

	.theme-dark:not(.css-settings-manager) .nothing-left-to-say input[type=checkbox]:checked {
		background: rgb(var(--text)) !important;
	}

	.nothing-left-to-say input[type=checkbox]:checked:after {
		background: rgb(var(--text)) !important;
	}

	/* -------------------- Custom Tile -------------------- */
	.nothing-left-to-say .char-note {
		border-left-color: rgb(var(--blue-tint));
	}

	.nothing-left-to-say .def-note {
		border-left-color: rgb(var(--green-tint));
	}

	.nothing-left-to-say .def-note .callout-title-inner {
		color: rgb(var(--green-tint)) !important;
	}

	/* -------------------- Custom SVG -------------------- */
	.nothing-left-to-say .box.char-note .callout-title-inner::before {
		background-color: rgb(var(--blue-tint)) !important;
	}

	.nothing-left-to-say .box.def-note .callout-title-inner::before {
		background-color: rgb(var(--green-tint)) !important;
	}

/* ----------------------------------------- Arcane School ------------------------------------------- */
.app-container .arcane-school * {
	/* Colors */
	--background-color: 255, 255, 255;
	--background-highlight: 0, 0, 0, .1;
	--primary-color: 0, 0, 0;
	--red-tint: 185, 51, 73;
	--blue-tint: 96, 159, 230;
	--purple-tint: 229, 36, 142;
	--text: 0, 0, 0;
	/* Sizes */
	--medium-radius: 0;
	/* Font */
	font-family: "Aleo", serif !important;

	--newsletter-box-shadow: 2px 2px 5px rgb(var(--primary-color), .15);
}

.arcane-school.markdown-preview-view {
	background: rgba(255, 255, 255, 1);
}

div.markdown-reading-view > div.markdown-preview-view.arcane-school > div {
	backdrop-filter: blur(0px);
	padding: 20px;
	max-width: 65% !important;
}

.arcane-school.markdown-preview-view div.inline-title {
	color: rgb(var(--primary-color));
	box-shadow: var(--newsletter-box-shadow);
}

.arcane-school ::selection {
	color: rgb(var(--background-color));
	background: rgb(var(--primary-color));
}

/* ------------------------------------------- Properties ------------------------------------------- */
	.arcane-school div.metadata-container {
		box-shadow: var(--newsletter-box-shadow)
	}

	.arcane-school .metadata-property[data-property-key="cssclasses"] .multi-select-pill,
	.arcane-school .metadata-property[data-property-key="tags"] .multi-select-pill,
	.arcane-school .metadata-property[data-property-key="Home"] .multi-select-pill {
		color: rgb(var(--primary-color)) !important;
		background-color: transparent !important;
		border: 2px solid rgb(var(--primary-color));
		border-radius: 0;
	}

	.arcane-school .metadata-container svg,
	.arcane-school .metadata-property[data-property-key="cssclasses"] .multi-select-pill-content,
	.arcane-school .metadata-property[data-property-key="tags"] .multi-select-pill-content,
	.arcane-school .metadata-property[data-property-key="Home"] .multi-select-pill-content,
	.arcane-school .metadata-property[data-property-key="tags"] .multi-select-pill-remove-button svg,
	.arcane-school .metadata-property-key-input {
		color: rgb(var(--primary-color)) !important;
		background-color: transparent !important;
	}

	.arcane-school .metadata-property .multi-select-pill {
		padding-bottom: 1px;
	}

	/* ---------- Checkboxes ---------- */
	.theme-dark:not(.css-settings-manager) .arcane-school input[type=checkbox]:not(:checked) {
		color: rgb(var(--primary-color)) !important;
		background-color: transparent !important;
		border: 2px solid rgb(var(--primary-color)) !important;
		border-radius: 0 !important;
		cursor: pointer !important;
	}

	.theme-dark:not(.css-settings-manager) .arcane-school input[type=checkbox]:checked {
		background: black !important;
		border-radius: 0 !important;
		border-color: transparent;
	}

	.arcane-school input[type=checkbox]:checked:after {
		-webkit-mask-image: none;
		background: black !important;
		border-radius: 0 !important;
	}

/* ---------------------------------------- Navigation Bar ------------------------------------------ */
	.arcane-school div.html-tabs {
		color: rgb(var(--primary-color));
		background-color: rgb(var(--background-color), .8);
		box-shadow: var(--newsletter-box-shadow);
	}

	.arcane-school div.html-tabs p {
		font-weight: 700;
	}

/* ---------------------------------------- Information Grid ---------------------------------------- */
.arcane-school .wrapper {
	grid-template-columns: 1fr .65fr;
}

.arcane-school .wrapper.interview-articles {
	grid-template-columns: 1.5fr 1fr;
}

/* ------------------------ Tabs ----------------------- */
	.arcane-school div.html-tabs p {
		margin-top: 0 !important;
	}

/* -------------------- Custom Tile -------------------- */
.arcane-school .box {
	color: rgb(var(--primary-color));
	background-color: rgb(var(--background-color), 1);
	box-shadow: var(--newsletter-box-shadow);
}

.arcane-school .char-note {
	border-left-color: rgb(var(--primary-color));
}

.arcane-school .def-note {
	border-left-color: rgb(var(--primary-color));
}

.arcane-school .char-note .callout-title-inner,
.arcane-school .def-note .callout-title-inner,
.arcane-school .callout-title-inner {
	color: rgb(var(--primary-color));
	font-weight: 800;
	padding: 0 5px;
}

.arcane-school .author-note .callout-title-inner {
	color: rgb(var(--background-color));
	font-weight: 800;
}

/* -------------------- Custom SVG -------------------- */
.arcane-school .box.char-note .callout-title-inner::before {
	background-color: rgb(var(--primary-color)) !important;
}

.arcane-school .box.char-note .callout-title-inner::before {
	background-color: rgb(var(--primary-color)) !important;
	/* Content */
	content: '';
	-webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath d='M96 96c0-35.3 28.7-64 64-64H448c35.3 0 64 28.7 64 64V416c0 35.3-28.7 64-64 64H80c-44.2 0-80-35.8-80-80V128c0-17.7 14.3-32 32-32s32 14.3 32 32V400c0 8.8 7.2 16 16 16s16-7.2 16-16V96zm64 24v80c0 13.3 10.7 24 24 24H296c13.3 0 24-10.7 24-24V120c0-13.3-10.7-24-24-24H184c-13.3 0-24 10.7-24 24zm208-8c0 8.8 7.2 16 16 16h48c8.8 0 16-7.2 16-16s-7.2-16-16-16H384c-8.8 0-16 7.2-16 16zm0 96c0 8.8 7.2 16 16 16h48c8.8 0 16-7.2 16-16s-7.2-16-16-16H384c-8.8 0-16 7.2-16 16zM160 304c0 8.8 7.2 16 16 16H432c8.8 0 16-7.2 16-16s-7.2-16-16-16H176c-8.8 0-16 7.2-16 16zm0 96c0 8.8 7.2 16 16 16H432c8.8 0 16-7.2 16-16s-7.2-16-16-16H176c-8.8 0-16 7.2-16 16z'/%3E%3C/svg%3E") no-repeat 50% 50%;
	mask-size: contain;
}

.arcane-school .interview .box.char-note .callout-title-inner::before {
	background-color: transparent !important;
	/* Content */
	content: unset;
	-webkit-mask: unset;
}

.arcane-school .char-note svg {
	color: rgb(var(--primary-color)) !important;
}

.arcane-school .box.def-note .callout-title-inner::before {
	background-color: rgb(var(--primary-color)) !important;
}

.arcane-school .box.author-note .callout-title-inner::before {
	background-color: rgb(var(--background-color)) !important;
	/* Content */
	content: '';
	-webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath d='M512 240c0 114.9-114.6 208-256 208c-37.1 0-72.3-6.4-104.1-17.9c-11.9 8.7-31.3 20.6-54.3 30.6C73.6 471.1 44.7 480 16 480c-6.5 0-12.3-3.9-14.8-9.9c-2.5-6-1.1-12.8 3.4-17.4l0 0 0 0 0 0 0 0 .3-.3c.3-.3 .7-.7 1.3-1.4c1.1-1.2 2.8-3.1 4.9-5.7c4.1-5 9.6-12.4 15.2-21.6c10-16.6 19.5-38.4 21.4-62.9C17.7 326.8 0 285.1 0 240C0 125.1 114.6 32 256 32s256 93.1 256 208z'/%3E%3C/svg%3E") no-repeat 50% 50%;
	mask-size: contain;
}

/* ----- Article Links ----- */
.arcane-school a.internal-link {
	-webkit-text-fill-color: rgb(var(--primary-color)) !important;
	text-decoration: none !important;
}

.arcane-school a.internal-link:hover div.callout-title-inner {
	-webkit-text-fill-color: rgb(var(--background-color));
	background: rgb(var(--primary-color));
}

.arcane-school a.internal-link:hover div.callout-title-inner::before {
	background-color: rgb(var(--background-color)) !important;
}

.arcane-school a.internal-link .box:hover {
	cursor: pointer !important;
}

/* ----- Description Panel ----- */
.arcane-school .description-tile img {
	width: 80%;
	height: unset;
	float: unset;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: auto;
}

.arcane-school .description-tile h3 {
	font-weight: 800;
	font-size: 14px !important;
}

.arcane-school .description-tile p {
	font-weight: 400;
	font-size: 16px !important;
}

/* ----- Interview Questions ----- */
.arcane-school .reporter {
	margin-top: 10px !important;
	margin-bottom: 0px;
	font-weight: 600;
}

.arcane-school .reporter::before {
	content: 'Reporter: ';
	font-weight: 800;
}

.arcane-school p {
	margin-top: 5px !important;
	text-align: justify;
}

.arcane-school i {
	font-weight: 550 !important;
	color: rgb(var(--primary-color)) !important;
}

/* ----- Author's Note ----- */
.arcane-school .author-note.box {
	color: rgb(var(--background-color)) !important;
	background: rgb(var(--primary-color)) !important;
}

.arcane-school .author-note.box p {
	color: rgb(var(--background-color)) !important;
	margin-bottom: 10px !important;
}
