@import url('https://fonts.googleapis.com/css2?family=Rokkitt:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* 
	Rokkit: Milo & Caspian
	Barlow: Of Gods & Fiends, Nothing Left to Say
*/

/* ----------------------------------------- Milo & Caspian ------------------------------------------ */
.milo-caspian * {
	/* Colors */
	--background-color: 51, 41, 27;
	--primary-color: 226, 183, 113;
	--text: 248, 244, 215;
	--red-tint: 189, 101, 53;
	--orange-tint: 203, 155, 79;
	--yellow-tint: 235, 238, 136;
	--green-tint: 161, 182, 94;
	--blue-tint: 179, 246, 229;
	--purple-tint: 220, 156, 172;
	/* Fonts */
	font-family: "Rokkitt", serif;
}

.milo-caspian {
	background: url("https://raw.githubusercontent.com/lunaria79/Jackalupes-Corner/main/01%20Dream%20Journal/Stage%20Files/themes/Milo%20%26%20Caspian.jpg") center center / cover no-repeat;
	background-blend-mode: soft-light;
	background-color: rgb(var(--background-color), .5);
}

/* -------------------- Checkboxes -------------------- */
.theme-dark:not(.css-settings-manager) .milo-caspian input[type=checkbox]:not(:checked) {
    color: rgb(var(--red-tint)) !important;
	background-color: transparent !important;
	border: 2px solid rgb(var(--red-tint)) !important;
	border-radius: 0;
    cursor: pointer !important;
}

.theme-dark:not(.css-settings-manager) .milo-caspian input[type=checkbox]:checked {
	background: rgb(var(--green-tint)) !important;
	border-radius: 0;
	border-color: transparent;
	cursor: pointer !important;
}

.milo-caspian input[type=checkbox]:checked:after {
	background: rgb(var(--green-tint)) !important;
    -webkit-mask-image: none;
	cursor: pointer !important;
}

/* ------------------------------------------ Gods & Fiends ------------------------------------------ */
.gods-and-fiends * {
	/* Colors */
	--background-color: 21, 7, 29;
	--primary-color: 185, 51, 73;
	--text: 255, 230, 215;
	--red-tint: 185, 51, 73;
	--blue-tint: 96, 159, 230;
	--purple-tint: 229, 36, 142;
	/* Fonts */
	font-family: "Barlow", sans-serif;
}

/* -------------------- Properties -------------------- */
.gods-and-fiends {
	background: url("https://raw.githubusercontent.com/lunaria79/Jackalupes-Corner/main/01%20Dream%20Journal/Stage%20Files/themes/Crimson%20City%20-%20hereisbis%20twit.jpg") center center/ cover no-repeat;
	background-blend-mode: soft-light;
	background-color: rgb(var(--background-color), .15) !important;
}

.gods-and-fiends .metadata-property[data-property-key="cssclasses"] .metadata-property-icon svg.svg-icon, .gods-and-fiends .metadata-property[data-property-key="cssclasses"] input.metadata-property-key-input, .gods-and-fiends .metadata-property[data-property-key="Completed"] .metadata-property-icon svg.svg-icon, .gods-and-fiends .metadata-property[data-property-key="Completed"] input.metadata-property-key-input {
	color: rgb(var(--text)) !important;
}

.gods-and-fiends .metadata-property[data-property-key="Home"] .metadata-property-icon svg.svg-icon, .gods-and-fiends .metadata-property[data-property-key="Home"] input.metadata-property-key-input, .gods-and-fiends .metadata-property[data-property-key="tags"] .metadata-property-icon svg.svg-icon, .gods-and-fiends .metadata-property[data-property-key="tags"] input.metadata-property-key-input {
	color: rgb(var(--red-tint)) !important;
}

.gods-and-fiends .metadata-property[data-property-key="cssclasses"] .multi-select-pill, .gods-and-fiends .metadata-property[data-property-key="cssclasses"] .multi-select-pill-content, .gods-and-fiends .metadata-property[data-property-key="cssclasses"] .multi-select-pill-remove-button svg {
	background-color: rgb(var(--text)) !important;
	color: rgb(var(--red-tint)) !important;
	font-weight: 700;
}

.gods-and-fiends .metadata-property[data-property-key="tags"] .multi-select-pill, .gods-and-fiends .metadata-property[data-property-key="tags"] .multi-select-pill-content, .gods-and-fiends .metadata-property[data-property-key="tags"] .multi-select-pill-remove-button svg, .gods-and-fiends .metadata-property[data-property-key="Home"] .multi-select-pill, .gods-and-fiends .metadata-property[data-property-key="Home"] .multi-select-pill-content, .gods-and-fiends .metadata-property[data-property-key="Home"] .multi-select-pill-remove-button svg {
	background-color: rgb(var(--red-tint)) !important;
	color: rgb(var(--text)) !important;
	font-weight: 700;
}

/* ---------- Checkboxes ---------- */
.theme-dark:not(.css-settings-manager) .gods-and-fiends input[type=checkbox]:not(:checked) {
	color: rgb(var(--primary-color)) !important;
	background-color: transparent !important;
	border: 2px solid rgb(var(--primary-color)) !important;
}

.theme-dark:not(.css-settings-manager) .gods-and-fiends input[type=checkbox]:checked {
	background: rgb(var(--text)) !important;
}

.gods-and-fiends input[type=checkbox]:checked:after {
	background: rgb(var(--text)) !important;
}

/* -------------------- Changes -------------------- */
.gods-and-fiends h3 {
	color: rgb(var(--yellow-tint)) !important;
}

.markdown-preview-view.gods-and-fiends div.inline-title {
	color: rgb(var(--text)) !important;
}

.gods-and-fiends .char-note div.callout-title {
	color: rgb(var(--purple-tint)) !important;
}

.gods-and-fiends .def-note div.callout-title {
	color: rgb(var(--blue-tint)) !important;
}

/* -------------------- CRT -------------------- */
/* https://aleclownes.com/2017/02/01/crt-display.html */
.markdown-reading-view div.crt div.markdown-preview-sizer::before {
	content: " ";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: linear-gradient(90deg, rgba(21, 7, 29, 0.15) 0%, rgba(185, 51, 73, 0.10247426607361698) 50%, rgba(21, 7, 29, 0.15) 100%);
	z-index: 2;
	background-size: 100% 2px, 3px 100%;
	pointer-events: none;
}

@keyframes flicker {
	0% { opacity: 0.27861; }
	5% { opacity: 0.34769; }
	10% { opacity: 0.23604; }
	15% { opacity: 0.90626; }
	20% { opacity: 0.18128; }
	25% { opacity: 0.83891; }
	30% { opacity: 0.65583; }
	35% { opacity: 0.67807; }
	40% { opacity: 0.26559; }
	45% { opacity: 0.84693; }
	50% { opacity: 0.96019; }
	55% { opacity: 0.08594; }
	60% { opacity: 0.20313; }
	65% { opacity: 0.71988; }
	70% { opacity: 0.53455; }
	75% { opacity: 0.37288; }
	80% { opacity: 0.71428; }
	85% { opacity: 0.70419; }
	90% { opacity: 0.70030; }
	95% { opacity: 0.36108; }
	100% { opacity: 0.24387; }
}

.markdown-reading-view div.crt div.markdown-preview-sizer::after {
	content: " ";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: rgba(21, 7, 29, .1);
	opacity: 0;
	z-index: 2;
	pointer-events: none;
	animation: flicker 1s infinite;
}

/* --------------------------------------- Nothing Left to Say --------------------------------------- */
.nothing-left-to-say * {
	/* Colors */
	--background-color: 18, 14, 11;
	--primary-color: 143, 134, 117;
	--yellow-tint: 153, 149, 107;
	--green-tint: 81, 88, 70;
	--blue-tint: 62, 74, 77;
	--text: 199, 195, 186;
	/* Fonts */
	font-family: "Barlow", sans-serif;
}

.nothing-left-to-say {
	background: url("https://raw.githubusercontent.com/lunaria79/Jackalupes-Corner/main/01%20Dream%20Journal/Stage%20Files/themes/sleeping-deer.jpg") center center / cover no-repeat;
	background-size: 100%;
}

/* -------------------- Font Changes -------------------- */
.nothing-left-to-say h4 {
	color: rgb(var(--yellow-tint)) !important;
}

.markdown-preview-view.nothing-left-to-say div.inline-title {
	color: rgb(var(--text)) !important;
}

.nothing-left-to-say .char-note div.callout-title {
	color: rgb(var(--blue-tint)) !important;
}

.nothing-left-to-say .def-note div.callout-title {
	color: rgb(var(--blue-tint)) !important;
}

.nothing-left-to-say img {
	width: 200px;
	float: left;
	margin-right: 10px;
}

/* -------------------- Properties -------------------- */
.nothing-left-to-say .metadata-property[data-property-key="cssclasses"] .metadata-property-icon svg.svg-icon, .nothing-left-to-say .metadata-property[data-property-key="cssclasses"] input.metadata-property-key-input, .nothing-left-to-say .metadata-property[data-property-key="Completed"] .metadata-property-icon svg.svg-icon, .nothing-left-to-say .metadata-property[data-property-key="Completed"] input.metadata-property-key-input {
	color: rgb(var(--text));
}

.nothing-left-to-say .metadata-property[data-property-key="Home"] .metadata-property-icon svg.svg-icon, .nothing-left-to-say .metadata-property[data-property-key="Home"] input.metadata-property-key-input, .nothing-left-to-say .metadata-property[data-property-key="tags"] .metadata-property-icon svg.svg-icon, .nothing-left-to-say .metadata-property[data-property-key="tags"] input.metadata-property-key-input {
	color: rgb(var(--green-tint));
}

.nothing-left-to-say .metadata-property[data-property-key="cssclasses"] .multi-select-pill, .nothing-left-to-say .metadata-property[data-property-key="cssclasses"] .multi-select-pill-content, .nothing-left-to-say .metadata-property[data-property-key="cssclasses"] .multi-select-pill-remove-button svg {
	background-color: rgb(var(--text));
	color: rgb(var(--green-tint));
	font-weight: 700;
}

.nothing-left-to-say .metadata-property[data-property-key="tags"] .multi-select-pill, .nothing-left-to-say .metadata-property[data-property-key="tags"] .multi-select-pill-content, .nothing-left-to-say .metadata-property[data-property-key="tags"] .multi-select-pill-remove-button svg, .nothing-left-to-say .metadata-property[data-property-key="Home"] .multi-select-pill, .nothing-left-to-say .metadata-property[data-property-key="Home"] .multi-select-pill-content, .nothing-left-to-say .metadata-property[data-property-key="Home"] .multi-select-pill-remove-button svg {
	background-color: rgb(var(--green-tint));
	color: rgb(var(--text));
	font-weight: 700;
}

/* ---------- Checkboxes ---------- */
.theme-dark:not(.css-settings-manager) .nothing-left-to-say input[type=checkbox]:not(:checked) {
	color: rgb(var(--primary-color)) !important;
	background-color: transparent !important;
	border: 2px solid rgb(var(--primary-color)) !important;
}

.theme-dark:not(.css-settings-manager) .nothing-left-to-say input[type=checkbox]:checked {
	background: rgb(var(--text)) !important;
}

.nothing-left-to-say input[type=checkbox]:checked:after {
	background: rgb(var(--text)) !important;
}