@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');
/* ------------------------------------------- Page Setup ------------------------------------------- */
.dream-journal-base {
	background: url("https://raw.githubusercontent.com/lunaria79/Jackalupes-Corner/main/01%20Dream%20Journal/Stage%20Files/themes/kiki-farmhouse.jpg") center center / cover no-repeat;
	background-blend-mode: soft-light;
	background-color: rgb(var(--background-color), .5);
}

.dream-journal-base * {
	/* Colors */
	--background-color: 28, 28, 44;
	--background-highlight: 32, 35, 53;
	--primary-color: 243, 172, 208;
	--text: 255, 255, 255;
	--red-tint: 247, 151, 130;
	--orange-tint: 247, 202, 130;
	--yellow-tint: 222, 233, 165;
	--green-tint: 165, 233, 176;
	--blue-tint: 165, 214, 230;
	--purple-tint: 213, 168, 233;
	/* Sizes */
	--large-radius: 20px;
	--medium-radius: 10px;
	--small-radius: 5px;
	--file-line-width: 60%;
	/* Fonts */
	font-family: "Dosis", sans-serif;
}

div.markdown-source-view.dream-journal-base.is-live-preview,
.markdown-source-view.dream-journal-base {
	background-image: none;
	background-color: transparent;
}

div.markdown-reading-view > div.markdown-preview-view.dream-journal-base > div {
	backdrop-filter: blur(0px);
	padding: 10px;
	max-width: 75%;
}

.dream-journal-base .mod-header {
	padding: 10px;
}

.dream-journal-base div.html-tab-content {
	padding: 0;
}

.dream-journal-base .inline-title,
.dream-journal-base h1,
.dream-journal-base h2,
.dream-journal-base h3,
.dream-journal-base h4,
.dream-journal-base h5,
.dream-journal-base h6 {
	/* Removes Heading Gradient */
	-webkit-text-fill-color: currentColor !important;
	-webkit-background-clip: unset !important;
	background-clip: unset !important;
	background-image: none !important;
}

/* ------------------------------------------- Properties ------------------------------------------- */
.dream-journal-base .metadata-properties-title {
	/* Properties Title Apperance */
	color: rgb(var(--primary-color));
	font-weight: 800;
}

.metadata-property .multi-select-container:focus,
.metadata-property .multi-select-container:focus-within {
	/* Focus Highlight */
	background-color: rgb(var(--background-highlight));
}

.dream-journal-base .metadata-add-button.text-icon-button,
.dream-journal-base .multi-select-pill-remove-button {
	/* Hides Add and Remove Property */
	display: none;
}

.dream-journal-base div.metadata-properties-heading.is-collapsed {
	/* Properties Collapsed Behavior */
	padding: 0;
}

.dream-journal-base div.metadata-container.is-collapsed {
	/* Properties Collapsed Behavior */
	height: 45px;
}

/* -------------------- Classes + Tags -------------------- */
.dream-journal-base .metadata-property .multi-select-pill {
	background-color: rgb(var(--purple-tint));
	border-radius: var(--small-radius);
	padding: 3px 5px;
	cursor: pointer;
	text-decoration: none;
	font-weight: 700;
}

.dream-journal-base .metadata-property-icon svg.svg-icon,
.dream-journal-base .metadata-property {
	font-weight: 700;
}

.dream-journal-base .multi-select-pill-content {
	margin: 0;
}

.dream-journal-base .metadata-property[data-property-key="cssclasses"] .metadata-property-icon svg.svg-icon,
.dream-journal-base .metadata-property[data-property-key="cssclasses"] input.metadata-property-key-input {
	color: rgb(var(--blue-tint));
}

.dream-journal-base .metadata-property[data-property-key="cssclasses"] .multi-select-pill,
.dream-journal-base .metadata-property[data-property-key="cssclasses"] .multi-select-pill-content,
.dream-journal-base .metadata-property[data-property-key="cssclasses"] .multi-select-pill-remove-button svg {
	background-color: rgb(var(--blue-tint));
	color: rgb(var(--background-color));
}

.dream-journal-base .metadata-property[data-property-key="tags"] .metadata-property-icon svg.svg-icon,
.dream-journal-base .metadata-property[data-property-key="tags"] input.metadata-property-key-input {
	color: rgb(var(--orange-tint));
}

.dream-journal-base .metadata-property[data-property-key="tags"] .multi-select-pill,
.dream-journal-base .metadata-property[data-property-key="tags"] .multi-select-pill-content,
.dream-journal-base .metadata-property[data-property-key="tags"] .multi-select-pill-remove-button svg {
	background-color: rgb(var(--orange-tint));
	color: rgb(var(--background-color));
}

.dream-journal-base .metadata-property[data-property-key="Home"] svg.svg-icon,
.dream-journal-base .metadata-property[data-property-key="Home"] input.metadata-property-key-input {
	color: rgb(var(--yellow-tint));
}

.dream-journal-base .metadata-property[data-property-key="Home"] .multi-select-pill,
.dream-journal-base .metadata-property[data-property-key="Home"] .multi-select-pill-content,
.dream-journal-base .metadata-property[data-property-key="Home"] .multi-select-pill-remove-button svg {
	background-color: rgb(var(--yellow-tint));
	color: rgb(var(--background-color));
}

.dream-journal-base .metadata-property[data-property-key="Completed"] svg.svg-icon,
.dream-journal-base .metadata-property[data-property-key="Completed"] input.metadata-property-key-input {
	color: rgb(var(--green-tint));
}

/* -------------------- Checkboxes -------------------- */
.theme-dark:not(.css-settings-manager) .dream-journal-base input[type=checkbox]:not(:checked) {
	color: rgb(var(--red-tint));
	background-color: transparent !important;
	border: 2px solid rgb(var(--red-tint));
	border-radius: var(--small-radius);
	cursor: pointer !important;
}

.theme-dark:not(.css-settings-manager) .dream-journal-base input[type=checkbox]:checked {
	background: rgb(var(--green-tint));
	border-radius: var(--small-radius);
	border-color: rgb(var(--green-tint));
	cursor: pointer !important;
}

.dream-journal-base input[type=checkbox]:checked:after {
	background: rgb(var(--green-tint));
	border-radius: var(--small-radius);
	-webkit-mask-image: none;
	cursor: pointer !important;
}

/* ---------------------------------------------- Tabs ---------------------------------------------- */
.dream-journal-base div.html-tab {
	padding: 0;
	height: 30px;
}

.dream-journal-base div.html-tab:hover {
	color: rgb(var(--primary-color));
}

.dream-journal-base .html-tab-active {
	color: rgb(var(--text));
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-color: rgb(var(--primary-color));
}

.markdown-rendered.dream-journal-base .html-tab p {
	margin-top: 0;
	margin-bottom: 12px;
}

/* --------------------------------------------- Tile ---------------------------------------------- */
.dream-journal-base * {
	--tile-background: rgb(var(--background-color), .99);
	--tile-border-radius: 0 var(--medium-radius) var(--medium-radius) 0;
	--tile-border: 5px solid rgb(var(--primary-color));
}

.markdown-preview-view.dream-journal-base div.inline-title,
.dream-journal-base div.metadata-container,
.dream-journal-base div.html-tabs,
.dream-journal-base .box,
.dream-journal-base .callout[data-callout="tabbed"] p label,
div[data-callout="multi-column"].callout:not(.is-collapsed) .callout {
	/*Position */
	transform: unset;
	/* Size */
	padding: 10px 25px;
	width: 100%;
	/* Colors */
	background-color: var(--tile-background);
	/* Border */
	border-left: var(--tile-border);
	border-radius: var(--tile-border-radius);
	box-shadow: none;
}

.dream-journal-base .char-note {
	border-left-color: rgb(var(--blue-tint));
}

.dream-journal-base .def-note {
	border-left-color: rgb(var(--purple-tint));
}

.dream-journal-base div.metadata-container {
	/* Size */
	margin: 0;
}

.dream-journal-base div.html-tabs {
	/* Size */
	padding: 5px 0 8px 20px;
	margin: 0 10px;
	width: unset;
	/* Border */
	border-bottom: none;
}

.dream-journal-base .box {
	max-height: 750px;
	overflow: scroll;
	scroll-behavior: smooth;
}

/* -------------------- Custom SVG -------------------- */
.box .callout-title-inner::before {
	/* Size + Position */
	width: 18px;
	height: 18px;
	display: inline-block;
	margin-bottom: -3px;
	margin-right: 3px;
	/* Content */
	content: '';
	-webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='18px' fill='%233fffff' viewBox='0 0 384 512'%3E%3Cpath d='M64 0C28.7 0 0 28.7 0 64V448c0 35.3 28.7 64 64 64H320c35.3 0 64-28.7 64-64V160H256c-17.7 0-32-14.3-32-32V0H64zM256 0V128H384L256 0zM112 256H272c8.8 0 16 7.2 16 16s-7.2 16-16 16H112c-8.8 0-16-7.2-16-16s7.2-16 16-16zm0 64H272c8.8 0 16 7.2 16 16s-7.2 16-16 16H112c-8.8 0-16-7.2-16-16s7.2-16 16-16zm0 64H272c8.8 0 16 7.2 16 16s-7.2 16-16 16H112c-8.8 0-16-7.2-16-16s7.2-16 16-16z'/%3E%3C/svg%3E") no-repeat 50% 50%;
	mask-size: contain;
}

.box .callout-title-inner::before {
	background-color: rgb(var(--primary-color));
	/* Content */
	content: '';
	-webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='18px' fill='%233fffff' viewBox='0 0 384 512'%3E%3Cpath d='M64 0C28.7 0 0 28.7 0 64V448c0 35.3 28.7 64 64 64H320c35.3 0 64-28.7 64-64V160H256c-17.7 0-32-14.3-32-32V0H64zM256 0V128H384L256 0zM112 256H272c8.8 0 16 7.2 16 16s-7.2 16-16 16H112c-8.8 0-16-7.2-16-16s7.2-16 16-16zm0 64H272c8.8 0 16 7.2 16 16s-7.2 16-16 16H112c-8.8 0-16-7.2-16-16s7.2-16 16-16zm0 64H272c8.8 0 16 7.2 16 16s-7.2 16-16 16H112c-8.8 0-16-7.2-16-16s7.2-16 16-16z'/%3E%3C/svg%3E") no-repeat 50% 50%;
	mask-size: contain;
}

.box.char-note .callout-title-inner::before {
	background-color: rgb(var(--blue-tint)) !important;
	/* Content */
	content: '';
	-webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3C!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--%3E%3Cpath d='M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z'/%3E%3C/svg%3E") no-repeat 50% 50%;
	mask-size: contain;
}

.box.def-note .callout-title-inner::before {
	background-color: rgb(var(--purple-tint)) !important;
	/* Content */
	content: '';
	-webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3C!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--%3E%3Cpath d='M64 32C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64H288V368c0-26.5 21.5-48 48-48H448V96c0-35.3-28.7-64-64-64H64zM448 352H402.7 336c-8.8 0-16 7.2-16 16v66.7V480l32-32 64-64 32-32z'/%3E%3C/svg%3E") no-repeat 50% 50%;
	mask-size: contain;
}

/* -------------------- Text -------------------- */
.dream-journal-base .callout-title {
	/* Text Color */
	color: rgb(var(--primary-color));
	/* Position */
	margin-top: 15px;
}

.markdown-rendered.dream-journal-base h3,
.markdown-rendered.dream-journal-base h4 {
	margin: 0;
}

.markdown-rendered.dream-journal-base p {
	/* Text Color */
	color: rgb(var(--text));
	/* Tile body text margins */
	margin-top: 0;
	margin-bottom: 12px;
}

.dream-journal-base .callout strong,
.dream-journal-base .box b,
.char-note .callout-title {
	/* blue accents */
	color: rgb(var(--blue-tint));
	font-weight: 700;
}

.dream-journal-base .callout em,
.dream-journal-base .box i,
.def-note .callout-title {
	/* purple accents */
	color: rgb(var(--purple-tint));
	font-weight: 600;
}

.dream-journal-base .box img {
	/* position */
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 3px;
	/* sizing */
	width: 65%;
	/* other */
	background-color: rgb(var(--background-highlight), .75);
}

.dream-journal-base .char-note img {
	/* position */
	object-fit: cover;
	float: left;
	margin-right: 10px;
	/* sizing */
	width: 200px;
	height: 200px;
}

/* -------------------- Tile Grid -------------------- */
/* ----- https://codepen.io/Fraasi/pen/aKBbmw ----- */
.dream-journal-base .wrapper {
	grid-template-columns: 1fr 1fr;
	background-color: transparent;
	padding: 10px;
	width: 100%;
	margin: 10px auto;
	margin-top: 0;
}

.dream-journal-base .grid {
	display: grid;
	grid-gap: 10px;
}

.dream-journal-base .grid.left {
	grid-column: 1 / span 1;
	grid-auto-rows: min-content;
}

.dream-journal-base .grid.right {
	grid-column: span 1 / -1;
	grid-auto-rows: min-content;
}