@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rokkitt:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* ---------------------------------------- Background ---------------------------------------- */
.dream-journal-base {
	background: url("..\..\..\themes\kiki-farmhouse.jpg") center center / cover no-repeat;
	background-blend-mode: darken;
	background-color: rgb(var(--primary-color), .1);
}

.dream-journal-base * {
	font-family: "Dosis", sans-serif;
}

div.markdown-source-view.dream-journal-base.is-live-preview, .markdown-source-view.dream-journal-base {
	background-image: none;
	background-color: transparent;
}

div.markdown-reading-view > div.markdown-preview-view.dream-journal-base > div {
	backdrop-filter: blur(0px);
	padding: 20px;
	max-width: 85%;
}

.mod-header {
	padding: 10px;
}

div.html-tab-content {
	padding: 0;
}

/* ---------------------------------------- Font Changes ---------------------------------------- */
.dream-journal-base img {
	border-radius: var(--medium-radius);
	border: 2px solid rgb(var(--primary-color));
	box-shadow: 2px 2px rgb(var(--primary-color), .4);
}

.dream-journal-base b {
	font-weight: 800;
	color: rgb(var(--purple-tint));
}

.dream-journal-base i {
	font-weight: 800;
	color: rgb(var(--blue-tint));
}

.dream-journal-base p, .dream-journal-base ol {
	color: rgb(var(--text));
}

.dream-journal-base h2, .dream-journal-base h3 {
	color: rgb(var(--primary-color)) !important;
	font-size: 18px !important;
	font-weight: 700;
	margin: 0;
}

.dream-journal-base .internal-link {
	color: rgb(var(--primary-color)) !important;
}

.dream-journal-base .collapse-indicator svg {
	color: rgb(var(--text)) !important;
}

.dream-journal-base .inline-title, 
.dream-journal-base h1, 
.dream-journal-base h2, 
.dream-journal-base h3, 
.dream-journal-base h4, 
.dream-journal-base h5, 
.dream-journal-base h6 {
	-webkit-text-fill-color: currentColor !important;
	-webkit-background-clip: unset !important;
	background-clip: unset !important;
	background-image: none !important;
}


/* ---------------------------------------- Tabs ---------------------------------------- */
div.html-tabs {
	padding: 5px 20px;
	margin: 0 10px;

	color: rgb(var(--primary-color));
	background-color: rgb(var(--background-color), .8);
	border: 2px solid rgb(var(--primary-color));
	border-radius: var(--medium-radius);
	box-shadow: 2px 2px 2px rgb(var(--background-color), .5);
}

div.html-tab {
	padding: 0;
	height: 30px;
}

div.html-tab:hover {
	color: rgb(var(--primary-color));
}

.html-tab-active {
	color: rgb(var(--text));
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-color: rgb(var(--primary-color));
}

/* ---------------------------------------- Information Grid ---------------------------------------- */
/* ---------- https://codepen.io/Fraasi/pen/aKBbmw ---------- */
.wrapper {
	grid-template-columns: 1fr 1fr ;
	background-color: transparent;
	padding: 10px;
	width: 100%;
	margin: 10px auto;
	margin-top: 0;
}

.grid {
	display: grid;
	grid-gap: 10px;
}

.grid.left {
	grid-column: 1 / span 1;
	grid-auto-rows: min-content;
}

.grid.right {
	grid-column: span 1 / -1;
	grid-auto-rows: min-content;
}

.box {
	padding: 5px 20px;
	max-height: 750px;
	overflow: scroll;
	scroll-behavior: smooth;

	color: rgb(var(--primary-color));
	background-color: rgb(var(--background-color), .8);
	border: 2px solid rgb(var(--primary-color));
	border-radius: var(--medium-radius);
	box-shadow: 2px 2px 2px rgb(var(--background-color), .5);
}

.callout-title {
	margin-top: 15px;
}

.callout-icon svg {
	margin-top: -5px;
}

.callout-title-inner {
	margin-top: -2px;
	font-weight: 700;
}

.dream-journal-base h3 {
	margin: 0 !important;
	background-image: none;
}

.box img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 3px;
	width: 65%;
	background-color: rgb(var(--background-color), .5);
}

.markdown-rendered p {
	margin-top: 0;
	margin-bottom: 12px;
}

/* ------------------------------------------ Page Specific ------------------------------------------ */
/* ----- Steampunk Mermaids ----- */
.steampunk-mermaids * {
	--background-color: 51, 41, 27;
	--primary-color: 226, 183, 113;

	--red-tint: 189, 101, 53;
	--orange-tint: 203, 155, 79;
	--yellow-tint: 235, 238, 136;
	--green-tint: 161, 182, 94;
	--blue-tint: 179, 246, 229;
	--purple-tint: 220, 156, 172;

	--text: 248, 244, 215;

	font-family: "Rokkitt", serif;
}

.steampunk-mermaids {
	background: url("https://github.com/lunaria79/Jackalupes-Corner/blob/main/00%20_resources/themes/Best-Steampunk-Wallpapers-Download-Pictures.jpg?raw=true") center center / cover no-repeat;
	background-blend-mode: soft-light;
	background-color: rgb(var(--background-color), .5);
}