@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
:root {
	--background-color: 28, 28, 44;
}

.fanfiction * {
	/* Colors */
	--background-color: 24, 24, 37;
	--background-highlight:  35, 35, 53;
	--background-shadow: 24, 24, 40;
	--text: 255, 255, 255;
	/* Tints */
	--red-tint: 243, 139, 168;
	--orange-tint: 250, 179, 135;
	--yellow-tint: 249, 226, 175;
	--green-tint: 166, 227, 161;
	--aqua-tint: 137, 220, 235;
	--blue-tint: 137, 180, 250;
	--purple-tint: 203, 166, 247;
	--pink-tint: 245, 194, 231;
	/* Sizes */
	--large-radius: 20px;
	--medium-radius: 10px;
	--small-radius: 3px;
	--file-line-width: 50%;
	/* Fonts */
	font-family: "Dosis", sans-serif;
}

/* ------------------------------------------ Reading Mode ------------------------------------------ */
.fanfiction {
	font-family: "Nunito Sans", sans-serif;
	&.markdown-preview-view { background: rgb(var(--background-color)); }
	.markdown-preview-section { background-color: unset !important; }
}

/* ---------------------------------------- Title + Metadata ---------------------------------------- */
.fanfiction div.inline-title {
	color: rgb(var(--text));
	text-align: center;
	font-weight: 700;
	margin-top: 10px;
}

/* ---------- Metadata Container ---------- */
.fanfiction div.metadata-container {
	padding: 15px;
	border: none !important; border-radius: 3px;
	background-color: rgb(var(--background-highlight)) !important;
	box-shadow: 5px 5px rgb(var(--background-shadow)) !important;

	.metadata-properties-title { color: rgb(var(--text)); }
	&.is-collapsed { padding-bottom: 5px; }   

	.metadata-properties-heading .collapse-indicator {
			position: absolute;
			left: -16px;
			padding: 0 6px;
	}
}

/* ---------- Metadata Categories ---------- */
.fanfiction .metadata-property-key {
	width: 165px;
}

.fanfiction .metadata-property-icon, .fanfiction .metadata-property-key-input {
	color: rgb(var(--text)) !important;
	font-weight: 600 !important;
}

.fanfiction input.metadata-property-key-input {
	width: 130px;
	overflow: visible;
}

.fanfiction .metadata-property .multi-select-container {
	padding: var(--size-4-1) var(--size-4-2);
	overflow-wrap: break-word;
}

/* ----- Information ---- */
.fanfiction .multi-select-pill {
	color: rgb(var(--text)); font-weight: 700;
	background:  rgb(var(--background-color), .4) !important;
	text-decoration: none !important;
	padding: 5px; margin: 5px 3px;
	border-radius: 3px 3px;
	display: inline-block;
		&:hover {
			color: rgb(var(--purple-tint));
			background:  rgb(var(--background-color), .4) !important;
			cursor: pointer;
		}
	}

	.fanfiction svg.svg-icon[class="svg-icon lucide-x"] {
		display: none;
	}   

	.fanfiction .metadata-property[data-property-key="Rating"] .metadata-property-value .multi-select-container .multi-select-pill {
		color: rgb(var(--background-color));
		background-color: rgb(var(--red-tint)) !important;
	}

	.fanfiction .metadata-property[data-property-key="Relationships"] .metadata-property-value .multi-select-container .multi-select-pill {
		color: rgb(var(--background-color));
		background-color: rgb(var(--pink-tint)) !important;
	}

	.fanfiction .metadata-property:is([data-property-key="tags"]) {
		.multi-select-pill-content {  margin-left: 0; }
		.multi-select-pill {
			color: rgb(var(--background-color));
			background-color: rgb(var(--green-tint)) !important;
		}
	}

/* --------------------------------------------- Fanfic --------------------------------------------- */
.fanfiction p {
	&.title {
			color: rgb(var(--purple-tint));
			font-family: "Open Sans", sans-serif; font-size: 1.5em; font-weight: 800;
			line-height: 1.2; text-align: center;
	}

	&.text {
			color: rgb(var(--text));
			font-size: 18px;
			margin-top: 5px; text-align: justify;
	}

	&.divide {
			color: rgb(var(--pink-tint));
			font-family: "Nunito Sans", sans-serif; font-weight: bold;
			text-align: center;
	}
}

.fanfiction .msg-box {
	border: 1px rgb(var(--text)) solid;
	width: 50%; 
	padding: 15px; margin: auto;
	b { color: rgb(var(--purple-tint)); }
}

/* --------------- Text Messages --------------- */
/* QuickReset */
* {
	margin: 0;
	box-sizing: border-box;
}

.fanfiction .chat {
	--rad: 10px;
	--rad-sm: 3px;
	display: flex;
	flex-direction: column;
	padding: 20px; margin: auto;
	max-width: 500px;

	.info {
		margin: 10px 0 5px 0;
		color: rgb(var(--blue-tint));
		font-family: "DM Mono", monospace; font-size: 14px;
		text-align: center; font-style: italic;
	}
}

.fanfiction .msg {
	position: relative;
	max-width: 75%;
	padding: 7px 15px;
	margin-top: 3px; margin-bottom: 2px !important;
	color: var(--lupawhite);
	font-family: "DM Mono", monospace; font-size: 14px;
	box-shadow: 2px 2px 2px rgb(var(--background-shadow));

	/* Name */
	&::before {
		content: attr(data-time);
		font-size: 0.8rem; font-weight: 600;
		position: absolute;
		bottom: 100%;
		color: rgb(var(--green-tint));
		white-space: nowrap;
		/* Hidden by default */
		display: none;
	}

	&.sent {
		border-radius: 3px;
		background: rgb(var(--background-shadow));
		/* moves it to the right */
		margin-left: auto;
		&::before {
				color: rgb(var(--pink-tint));
				right: 5px;
		}
	}
	&.sent+.msg.rcvd { margin-top: 20px; }

	&.rcvd {
		border-radius: 3px;
		background: rgb(var(--background-highlight), .5);
		/* moves it to the left */
		margin-right: auto;
		&::before {
				color: rgb(var(--green-tint));
				left: 5px;
		}
	}
	&.rcvd+.msg.sent {  margin-top: 20px; }
}

/* Show name only for first message in group */
.fanfiction .msg:first-child::before, .fanfiction .msg.sent+.msg.rcvd::before, .fanfiction .msg.rcvd+.msg.sent::before {
	/* Show only for first message in group */
	display: block;
} 