@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Redacted+Script:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Englebert&display=swap');

/*
font-family: "Redacted Script", cursive;
font-family: "Barlow", sans-serif;
font-family: "Patrick Hand", cursive;
font-family: "Englebert", cursive;
*/

/* ---------------------------------------- Global Variables ---------------------------------------- */
.iconize-title-icon {
	display: none !important;
}

.nav-folder.is-collapsed .nav-folder-title .nav-folder-title-content::before, .nav-folder .nav-folder-title .nav-folder-title-content::before {
	display: none;
}

.tree-item-self {
	color: whitesmoke;
}

.nav-file-title.is-active, body:not(.is-grabbing) .tree-item-self.is-clickable:hover {
	color: rgb(var(--purple-tint)) !important;
	background-color: rgba(var(--purple-tint), .1) !important;
	font-weight: 700;
}

::-webkit-scrollbar {
	display: none;
}

* {
	--purple-tint: 213, 168, 233;
	--medium-radius: 6px;
	--small-radius: 4px;
	--file-line-width: 80%;
	font-family: "Dosis", sans-serif;
}

/* ------------------------------------------- Page Setup ------------------------------------------- */
/* All Pages */
.markdown-preview-view {
	padding: 10px;
}

body {
	/* Indentation */
	--indentation-guide-color: rgba(var(--purple-tint), .75);
	--indentation-guide-color-active: rgb(var(--ctp-accent), 70%);
	--indentation-guide-width: 2px;
}

.theme-dark {
	--ctp-surface2: 88, 91, 112;
}

/* ---------- Reading Mode ---------- */
div.markdown-reading-view {
	height: 100%;
}

.markdown-preview-view.is-readable-line-width .markdown-preview-sizer {
	max-width: var(--file-line-width);
	margin-left: auto;
	margin-right: auto;
}

.markdown-source-view.mod-cm6.is-readable-line-width .cm-line {
	/* https://www.10bestdesign.com/dirtymarkup/ */
	padding-bottom: 15px;
	padding-top: 15px;
}

/* ---------- Source Mode ---------- */
.cm-contentContainer {
	background-color: rgb(28, 28, 44, 1);
	padding: 25px;
	width: 125%;
	transform: translateX(-10%);
}

.markdown-source-view.mod-cm6.is-readable-line-width .cm-line, .markdown-source-view.mod-cm6.is-readable-line-width .cm-content {
	max-width: none;
}