@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Redacted+Script:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Englebert&display=swap');

/*
font-family: "Redacted Script", cursive;
font-family: "Barlow", sans-serif;
font-family: "Patrick Hand", cursive;
font-family: "Englebert", cursive;
*/

/* ---------------------------------------- Global Variables ---------------------------------------- */
.iconize-title-icon {
	display: none !important;
}

.nav-folder.is-collapsed .nav-folder-title .nav-folder-title-content::before, .nav-folder .nav-folder-title .nav-folder-title-content::before {
	display: none;
}

.tree-item-self {
	color: whitesmoke;
}

.nav-file-title.is-active, body:not(.is-grabbing) .tree-item-self.is-clickable:hover {
	color: rgb(var(--purple-tint)) !important;
	background-color: rgba(var(--purple-tint), .1) !important;
	font-weight: 700;
}

::-webkit-scrollbar {
	display: none;
}

* {
	--purple-tint: 213, 168, 233;
	--medium-radius: 6px;
	--small-radius: 4px;
	--file-line-width: 60%;
	font-family: "Dosis", sans-serif;
}

/* ------------------------------------------- Page Setup ------------------------------------------- */
/* All Pages */
.markdown-preview-view {
	padding: 10px;
}

body {
	/* Indentation */
	--indentation-guide-color: rgba(var(--purple-tint), .75);
	--indentation-guide-color-active: rgb(var(--ctp-accent), 70%);
	--indentation-guide-width: 2px;
}

.theme-dark {
	--ctp-surface2: 88, 91, 112;
}

/* ---------- Reading Mode ---------- */
div.markdown-reading-view {
	height: 100%;
}

.markdown-preview-view.is-readable-line-width .markdown-preview-sizer {
	max-width: var(--file-line-width);
	margin-left: auto;
	margin-right: auto;
}

.markdown-source-view.mod-cm6.is-readable-line-width .cm-line {
	/* https://www.10bestdesign.com/dirtymarkup/ */
	padding-bottom: 15px;
	padding-top: 15px;
}

 .markdown-preview-section {
	background: RGBA(40, 42, 54,  .5);
	backdrop-filter: blur(10px);
	box-shadow: 0 0 5px 5px RGBA(40, 42, 54,  .5);
	border-radius: 25px;
	padding: 25px;
}

.no-properties .metadata-container {
	display: none !important;
}

/* ---------- Source Mode ---------- */
.cm-contentContainer {
	background-color: rgb(28, 28, 44, 1);
	padding: 25px;
	width: 125%;
	transform: translateX(-10%);
}

.markdown-source-view.mod-cm6.is-readable-line-width .cm-line, .markdown-source-view.mod-cm6.is-readable-line-width .cm-content {
	max-width: none;
}

.cm-content.cm-lineWrapping {
	padding-bottom: 15px !important;
}

.cm-s-obsidian div.HyperMD-codeblock-begin-bg, .cm-s-obsidian div.HyperMD-codeblock-bg, .cm-s-obsidian div.HyperMD-codeblock-end-bg, .markdown-preview-view pre, .cm-s-obsidian .HyperMD-codeblock {
	background: #202335;
}

/* ------------------------------------------- Text Setup ------------------------------------------- */
.markdown-preview-view pre {
	/*Position */
	transform: unset;
	/* Size */
	padding: 10px 25px;
	width: 100%;
	/* Colors */
	/* Border */
	border-left: 5px solid var(--code-normal) ;

	box-shadow: none;
}

 h1, h2, h3 {
	margin-top: 10px !important;
	margin-bottom: -5px !important;
}

p { text-align: justify; }
a { text-decoration: none; }
blockquote { margin-bottom: 10px; }

/* ------------------------------------------- Hides Pinned Text ------------------------------------------- */
.workspace-tab-header:has(.mod-pinned) .workspace-tab-header-inner-title {  display: none; }

.workspace .mod-root .workspace-tab-header:has(.mod-pinned),
.workspace-tab-header:has(.mod-pinned) .workspace-tab-header-inner {
  flex: unset;
  width: fit-content;
  min-width: unset;
}

/* ------------------------------------------- Hides Pinned Status ------------------------------------------- */
.workspace-tab-header:has(.mod-pinned) .workspace-tab-header-status-container {   display: none; }
.workspace-tab-header:has(.mod-pinned) .workspace-tab-header-inner-icon {   padding-right: unset; }
.workspace-tab-header:has(.mod-pinned) .workspace-tab-header-inner {   padding: 0 var(--size-4-2); }

/* ------------------------------------------- Fade Ribbon Menu ------------------------------------------- */
/* author: matekusu */
/* Immersive Ribbon Menu */
.workspace-ribbon.mod-left {
  background-color: transparent; /*c myn: hides weird flashing in default theme when opening */
  transition: all 0.2s ease-in-out;
  &::before {
    border-bottom-color: transparent;
    transition: all 0.2s ease-in-out;
  }
  &.is-collapsed {
    border-right-color: transparent;
    transition: all 0.2s ease-in-out;
    &::before {
      border-bottom-color: var(--tab-outline-color);
      transition: all 0.2s ease-in-out;
    }
    &:hover > :nth-child(n + 2) {
      opacity: 1;
      transition: all 0.2s ease-in-out;
    }
    &:not(:hover) > :nth-child(n + 2) {
      opacity: 0;
      transition: all 0.2s ease-in-out;
    }
  }
}

/* Immersive Sidebar Collapse */
.workspace-split.mod-horizontal:is(.mod-left-split, .mod-right-split) {
  &.is-sidedock-collapsed {
    .workspace-tabs .workspace-tab-header-container,
    .workspace-tabs .workspace-tab-container,
    .workspace-tabs .workspace-leaf-resize-handle,
    .workspace-tabs.mod-top .workspace-tab-header-inner {
      opacity: 0;
      transition: all 0.2s ease-in-out;
    }
    .workspace-tabs.mod-top .workspace-tab-header-container {
      opacity: 1;
    }
  }
}