.mhw .markdown-preview-sizer.markdown-preview-section {
	padding-bottom: 5px !important;
}

.mhw * {
	/* Colors */
	--background-color: 30, 32, 48;
	--background-highlight: 30, 32, 48, .1;
	--text: 202, 211, 245;
	/* Tints */
	--purple-tint: 198, 160, 246;
	--pink-tint: 245, 189, 230;
	--blue-tint: 138, 173, 244;
	/* Fonts */
	font-family: "Barlow", sans-serif;
}

.mhw .column {
	float: left;
	width: 50%;

	&:nth-child(2) { float: right; }

	h3 { color:  #a933cc;  -webkit-text-fill-color: unset; background-image: none; }	
	b { color: rgb(var(--purple-tint)); }
	span, i { 
		color: rgb(var(--blue-tint)); font-size: 13px; font-style: italic; 
		b { color: rgb(var(--pink-tint)); }
	}

	p.img {
		text-align: center;
		img { height: 150px !important; width: 150px !important; }
	}

	.card {
		color: rgb(var(--text));
		background: rgb(var(--background-color));
		border-radius: 10px; border: 1px solid transparent !important;
	}

	.disc { 
		color:  rgb(var(--pink-tint));
		font-weight: 800; font-style: italic;
		margin-bottom: 0; 
	}

	.stats { margin: 5px 0; }

	.divider {
		text-align: center; font-weight: 800;
		color:  #a933cc;
		margin: 0;
	}

	.shopping { margin: 4px 0; text-align: left; }
}

/* Clear floats after the columns */
.mhw .row:after {
	content: "";
	display: table;
	clear: both;
}