@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');
/* ------------------------------------------- Colors ------------------------------------------- */

.pokemon.blue {
	--background: #ebeff1;
	
	--header-background: #9bb7c9;
	--first-column-background: #d0e0e3;

	--table-row-odd: whitesmoke;
	--table-row-even: #ebeff1;
	--box-shadow-color: #c9d1db;

	--font-color: #45818e;
}

.pokemon.green {
	--background: #fefcfd;
	
	--header-background: #c4b8bc;
	--first-column-background: #efe5e6;

	--table-row-odd: whitesmoke;
	--table-row-even: #f9f5f5;
	--box-shadow-color: #ebe7e7;

	--font-color: #9e8a88;	
}

/* - - - - - - - - - - Page Setup - - - - - - - - - - */
.markdown-preview-view.markdown-rendered.pokemon,
.pokemon .markdown-preview-section {
	background: var(--background);
	overflow: hidden;
}

div.markdown-reading-view > div.markdown-preview-view.pokemon > div {
	/* Reading View Width */
	padding: 10px;
	max-width: 100%;
}

.markdown-source-view.mod-cm6.is-readable-line-width.pokemon .cm-sizer {
	/* Source View Width */
	max-width: 80% !important;
}

.markdown-preview-view.show-properties.pokemon .metadata-container, .pokemon .inline-title {
	display: none;
}

/* - - - - - - - - - - Table Setup - - - - - - - - - - */
.pokemon .table-container {
	/* Table Width */
	width: 100% !important;
	margin-bottom: 10px;
}

.pokemon.markdown-rendered table {
	width: 1120px;
	border-radius: 0;
	box-shadow: 12px 12px var(--box-shadow-color);
	outline: none;
}

.pokemon td, .pokemon th {
    margin: auto;
    text-align: center; 
    vertical-align: middle;
}

/* - - - Header - - - */
.pokemon tr > th, & th  {
	height: 35px;
	color: whitesmoke !important;
	background: var(--header-background) !important;
}

/* - - - Rows - - - */
.pokemon tr {
	height: 75px;
	text-align: center;
}

.pokemon.markdown-rendered tr, .pokemon.markdown-rendered tr a, .pokemon td {
	font-weight: 700;
	font-size: 18px !important;
	color: var(--font-color) !important;
	text-decoration: none;
	-webkit-text-fill-color: unset !important;
}

.pokemon.markdown-rendered tbody tr:nth-child(odd), .pokemon.markdown-rendered tbody tr:nth-child(odd):hover {
	background: var(--table-row-odd);
}

.pokemon.markdown-rendered tbody tr:nth-child(even), .pokemon.markdown-rendered tbody tr:nth-child(even):hover {
	background: var(--table-row-even);
}

/* - - - Columns - - - */
.pokemon.markdown-rendered tbody tr > td:first-child {
	background: var(--first-column-background);
}

/* - - - Images - - - */
.pokemon td[data-et-cell="10"] img {
	scale: 1;
}

.pokemon img {
	max-height: 100px;
}

.pokemon td img {
	margin: auto auto;
}

/* - - - Navigation - - - */
div.enhanced-tables-controls {
	height: 25px;
}

div.enhanced-tables-controls label {
	display: none;
}

.enhanced-tables-pagination div select {
	display: none;
}


/*- - - - - Custom Row Colors - - - - - */
.pokemon.markdown-rendered tbody tr > td[data-et-row-cell="17-0"] {
	color: #b78961 !important;
	background: #ffe5a0 !important;
}