@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');
/* ------------------------------------------- Page Setup ------------------------------------------- */
	.markdown-preview-view.markdown-rendered.pokemon {
		background: #ebeff1;
	}

	div.markdown-reading-view > div.markdown-preview-view.pokemon > div {
		/* Reading View Width */
		padding: 10px;
		max-width: 100%;
	}

	.markdown-source-view.mod-cm6.is-readable-line-width.pokemon .cm-sizer {
		/* Source View Width */
		max-width: 80% !important;
	}

	div.metadata-container {
		display: none;
	}

/* ------------------------------------------- Table Setup ------------------------------------------ */
& .pokemon .table-container {
	/* Table Width */
	width: 100% !important;
}

.pokemon.markdown-rendered table {
	border-radius: 0;
	box-shadow: 12px 12px #c9d1db;
	outline: none;
}

/* - - - Header - - - */
.pokemon tr > th, & th  {
	height: 35px;
	color: whitesmoke !important;
	background: #9bb7c9 !important;
}


/* - - - Rows - - - */
.pokemon.markdown-rendered tr, .pokemon.markdown-rendered tr a {
	font-weight: 700;
	color: #45818e !important;
	text-decoration: none;
	-webkit-text-fill-color: unset !important;
}

.pokemon.markdown-rendered tbody tr:nth-child(odd), .pokemon.markdown-rendered tbody tr:nth-child(odd):hover {
	background: whitesmoke;
}

.pokemon.markdown-rendered tbody tr:nth-child(even), .pokemon.markdown-rendered tbody tr:nth-child(even):hover {
	background: #ebeff1;
}



.pokemon tr {
	height: 25px;

	text-align: center;
}

.pokemon td, .pokemon th {
    margin: auto;
    text-align: center; 
    vertical-align: middle;
}


/* - - - Images - - - */
.pokemon td[data-et-cell="10"] img {
	scale: 1;
}

.pokemon img {
	max-height: 100px;
}


.pokemon td img {
	margin: auto auto;
}

