@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');
/* ------------------------------------------- Page Setup ------------------------------------------- */
	.markdown-preview-view.markdown-rendered.node-insert-event.is-readable-line-width.allow-fold-headings.show-indentation-guide.allow-fold-lists.show-properties.pokemon {
		background: #ebeff1;
	}

	div.markdown-reading-view > div.markdown-preview-view.pokemon > div {
		padding: 10px;
		max-width: 100%;
	}



	.markdown-source-view.mod-cm6.is-readable-line-width.pokemon .cm-sizer {
		max-width: 80% !important;
	}

	.pokemon .mod-header {
		padding: 10px;
	}

	.pokemon div.html-tab-content {
		padding: 0;
	}

/* ------------------------------------------- Table Setup ------------------------------------------ */
.pokemon td[data-et-cell="10"] img {
	scale: 1;
}

.pokemon img {
	max-height: 100px;
}

.pokemon tr {
	height: 50px;

	text-align: center;
}

.pokemon td img {
	margin: auto auto;
}

.pokemon td, .pokemon th {
    margin: auto;
    text-align:center; 
    vertical-align:middle;
}