
.charts {
  display: grid; 
  grid-template-columns: repeat(2, 1fr); 
  grid-template-rows: 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "stats attacks"; 
}
.attacks { grid-area: attacks; }
.stats { grid-area: stats; }


.reverse table {
	max-width: 95%; margin: auto;
	border:none; border-collapse: collapse;

	tr { 
		height: 35px; 
		&:not(:nth-last-child(1)) td {
			border-bottom: 2px solid rgb(49, 50, 68);
		}
	}

	th {
		line-height: .75em; vertical-align: middle;
		color: rgb(205, 214, 244); background: rgb(24, 24, 37) !important; border: none;
		font-weight: 800; text-align: center;
		&[colspan] { color: rgb(166, 227, 161); }
		b { color: rgb(148, 226, 213); }
		span { font-size: .75em; color: rgb(245, 194, 231); }
	}

	td {
		border: none;
		&:not(:nth-last-child(1)) {
			border-right: 2px solid rgb(49, 50, 68);
		}
		background-color: rgb(30, 30, 46) !important;
		i { color: rgb(243, 139, 168) }
		b { color: rgb(249, 226, 175) }
		span { color: rgb(137, 180, 250); }
	}
}

.reverse {
	.divide {
		text-align: center;
		color: rgb(245, 194, 231);
		margin: 0;
	}
	p {
		margin: 0; margin-bottom: 5px;
	}
}

.reverse {
	div.inline-title {
		display: none;
	}

	.markdown-preview-sizer.markdown-preview-section {
		background: rgb(17, 17, 27);
	}

	.image-wrap.image-position-left, .image-wrap.internal-embed.image-embed.image-position-left { 
		margin: 0.5em .5em 0.5em 0;
	}
}
