@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* ------------------------------ Page Setup ------------------------------ */
.secret-garden-home * {
	/* Variable Tracker */
	--sidebar-width: 500px;
	--wreath-width: 250px;
	--nav-link-width: 65%;
	--stamp-left: 20px;
	--stamp-width: 180px;
	/* Colors */
	--dark-brown: 59, 38, 24;
	--mid-brown: 85, 54, 34;
	--gold-tint: 233, 199, 144;
	--tan-tint: 255, 233, 197;
	--text-tint: 148, 88, 65;
	--text-selection: 255, 185, 185;
}

.secret-garden-home.markdown-preview-view {
	/* Background Color + Width */
	padding: 0;
	background-image: url("C:\Users\regin\OneDrive\Dream Journal\01 Dream Journal\Dreams\The Secret Garden\Images\Main Page\bingham background.png");
	background-size: 15%;
	background-attachment: fixed;
}

.secret-garden-home.markdown-preview-view.is-readable-line-width .markdown-preview-sizer {
	/* Content Width */
	height: 100%;
	max-width: 100%;
	padding: 5px;
	margin: 0;
	background: linear-gradient(to bottom left, transparent 0%, transparent 50%, rgb(var(--mid-brown)) 50.1%, rgb(var(--mid-brown)) 100%), url('https://i.imgur.com/JY7OScw.png') center center/ 20%;
	background-position-x: 5px;
}

.secret-garden-home .mod-header {
	display: none;
}

.secret-garden-home * {
	font-family: "Barlow", sans-serif;
}

.secret-garden-home img {
	border: none;
	box-shadow: none;
}

.secret-garden-home .inline-title, .secret-garden-home h1, .secret-garden-home h2, .secret-garden-home h3, .secret-garden-home h4, .secret-garden-home h5, .secret-garden-home h6 {
	-webkit-text-fill-color: currentColor !important;
	-webkit-background-clip: unset;
	background-clip: unset;
	background-image: none;
}

/* ---------- Side Bar ---------- */
.secret-garden-home .side-bar {
	display: grid;
	grid-template-columns: .75fr .25fr;
	grid-template-rows: 1fr .1fr 1fr;
	grid-auto-columns: 1fr;
	gap: 25px 10px;
	grid-auto-flow: row;
	grid-template-areas: "sidebar-wreath sidebar-blurb" "sidebar-buttons sidebar-blurb" "sidebar-moodboard sidebar-blurb";
}

.secret-garden-home .side-bar {
	top: 0;
	left: 0;
	height: 100%;
	width: var(--sidebar-width);
	position: fixed;
	background-color: rgba(var(--dark-brown));
	background-size: 100%;
	overflow: hidden;
	padding-top: 20px;
}

.secret-garden-home .sidebar-wreath {
	grid-area: sidebar-wreath;
	top: -50px;
	left: 60px;
	position: relative;
}

.secret-garden-home .sidebar-wreath img {
	z-index: 2;
	position: relative;
	top: 100px;
	left: -50px;
}

.secret-garden-home .sidebar-wreath .wreath-background {
	--b: 5px;
	--s: 30px;
	--c1: rgb(var(--mid-brown));
	--c2: rgb(var(--dark-brown));
	background-color: rgb(var(--mid-brown));
	border-radius: 125px;
	width: var(--wreath-width);
	aspect-ratio: 1;
	position: absolute;
	left: calc(50% - (var(--wreath-width)*.6775));
	top: 175px;
}

.secret-garden-home .sidebar-wreath .wreath-background::before {
	content: "fus";
	position: absolute;
	border-radius: 125px;
	inset: 0;
	padding: var(--b);
	background: repeating-conic-gradient(var(--c1) 0 25%, var(--c2) 0 50%) 0 0/var(--s) var(--s) round;
	-webkit-mask: linear-gradient(#000 0 0) content-box, linear-gradient(#000 0 0);
	mask-composite: add, add;
	-webkit-mask-composite: xor;
	mask-composite: exclude;
	pointer-events: none;
}

.secret-garden-home .sidebar-blurb {
	grid-area: sidebar-blurb;
	color: rgb(var(--gold-tint));
	font-size: 14px;
	font-weight: 500;
}

.secret-garden-home .sidebar-blurb p {
	letter-spacing: 3px;
	writing-mode: vertical-rl;
	transform: rotate(180deg);
	position: relative;
	top: 150px;
	right: -25px;
	border-bottom: 3px solid rgb(var(--gold-tint));
	padding-top: 15px;
	padding-bottom: 85px;
}

.secret-garden-home .sidebar-blurb p {
	background: linear-gradient(rgb(var(--mid-brown)) 0 0) var(--p, 0)/var(--p, 0) no-repeat;
	transition: .4s, background-position 0s;
}

.secret-garden-home .side-bar ::selection {
	background: rgb(var(--text-selection), .35);
}

.secret-garden-home .sidebar-blurb:hover {
	--p: 100%;
	color: rgb(var(--gold-tint)) !important;
}

.secret-garden-home .sidebar-buttons {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	gap: 0px 0px;
	grid-template-areas: ". . .";
	grid-area: sidebar-buttons;
	margin-left: 10%;
	background-color: rgb(var(--mid-brown));
	border-radius: var(--medium-radius);
	text-align: center;
}

.secret-garden-home .sidebar-buttons a {
	display: inline-grid;
	padding: 10px 15px;
	font-size: 15px;
	color: rgb(var(--gold-tint)) !important;
	font-weight: 600;
	text-decoration: none !important;
}

.secret-garden-home .sidebar-buttons a:hover {
	color: rgb(var(--gold-tint)) !important;
	-webkit-text-fill-color: currentColor;
	background-color: rgb(var(--text-tint));
	scale: 1.1;
	border-radius: var(--medium-radius);
	box-shadow: 4px 4px #2b1c1170;
	transition: 220ms;
}

.secret-garden-home .sidebar-moodboard {
	grid-area: sidebar-moodboard;
}

.secret-garden-home .sidebar-moodboard img {
	border-radius: var(--medium-radius);
	box-shadow: 5px 5px rgb(var(--mid-brown), .75);
	margin-left: 15px;
}

.secret-garden-home .sidebar-moodboard img:hover {
	transform: scale(1.025);
	transition: 220ms;
	cursor: pointer;
}

/* ---------- Poem ---------- */
/* --- Page Setup --- */

.secret-garden-home .poem-grid {
	top: 0;
	left: var(--sidebar-width);
	z-index: 0;
	height: 100%;
	width: calc(100% - var(--sidebar-width));
	position: fixed;
	background-color: transparent;
	background-size: 100%;
	overflow: hidden;
	padding-top: 20px;
}

.secret-garden-home .poem-grid {
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	grid-template-rows: 1fr;
	gap: 10px 10px;
	grid-auto-flow: row;
	grid-template-areas: "vine-1 poem vine-2";
}

.vine-1 {
	grid-area: vine-1;
}

.vine-2 {
	grid-area: vine-2;
}

/* --- Decoration --- */
.vine-1 img {
	transform: rotate(90deg) scale(2.5);
	position: relative;
	top: 350px;
	left: 180px;
}

.vine-2 img {
	transform: rotate(270deg) scale(2.5);
	position: relative;
	top: 350px;
	left: -180px;
}

/* --- Poem --- */
.secret-garden-home .poem {
	width: 60%;
	height: 95%;
	min-width: 650px;
	margin: auto;
	background-color: rgb(var(--tan-tint), .97);
	text-align: center;
	border-radius: var(--medium-radius);
	cursor: default;
}

.secret-garden-home .poem h1 {
	padding-top: 60px;
	margin-bottom: -25px;
	font-size: 23px;
	color: rgb(var(--gold-tint));
	text-shadow: 2px 2px 2px rgb(var(--gold-tint), .25);
}

.secret-garden-home .poem h2 {
	margin-top: 25px;
	margin-bottom: 0px;
	font-size: 16px;
	color: rgb(var(--text-tint)) !important;
}

.secret-garden-home .poem p {
	font-size: 16px;
	color: rgb(var(--text-tint), .95);
}

.secret-garden-home .poem span {
	padding: 0px 10px 0px 10px;
	line-height: 23px;
	font-weight: 500;
	font-family: "Barlow", sans-serif;
}

.secret-garden-home .poem ::selection {
	background: rgb(var(--text-selection), .35);
}

/* ------------------------------ June Setup ------------------------------ */
.june * {
	/* Variable Tracker */
	--june-background-color: 230, 203, 177;
	--june-border-width: 10px;
	--june-borders: var(--june-border-width) solid rgba(var(--june-background-color));
}

.june {
	font-family: "Barlow", sans-serif;
}

.june.markdown-preview-view {
	/* Background Color + Width */
	padding: 0;
	background: rgba(230, 203, 177);
	background-size: 15%;
	background-attachment: fixed;
	overflow: hidden;
}

.june.markdown-preview-view.is-readable-line-width .markdown-preview-sizer {
	/* Content Width */
	height: 100%;
	max-width: 100%;
	padding: 5px;
	margin: 0;
}

.june .mod-header {
	display: none;
}

/* ---------- June Moodboard ---------- */
.june-moodboard {
	display: grid;
	grid-template-columns: 25px 50px 250px 30px 135px 150px 125px;
	grid-template-rows: 150px 100px 50px 50px 50px 50px 100px 75px;
	grid-auto-columns: 1fr;
	gap: var(--june-border-width) var(--june-border-width);
	grid-auto-flow: row;
	position: relative;
	top: 50px;
	left: 40px;
}

.june-moodboard div {
	overflow: clip;
}

.june-moodboard img {
	margin: 0ch !important;
	border-radius: 0;
	height: auto;
	width: 100%;
	transform: scale(1.15);
}

.image-1 {
	grid-area: 1 / 1 / 3 / 5;
	z-index: 0;
}

.image-1 img {
	transform: translateY(-185px);
}

.image-2 {
	grid-area: 2 / 4 / 7 / 7;
	border: var(--june-borders);
	z-index: 1;
}

.box-1 {
	grid-area: 3 / 2 / 4 / 3;
	background: #dbb584;
	border-top: 5px solid rgba(var(--june-background-color));
	transform: translateY(calc(-.5*var(--june-border-width)));
	background-image: url("https://raw.githubusercontent.com/lunaria79/Jackalupes-Corner/main/01%20Dream%20Journal/Dreams/03%20The%20Secret%20Garden/00%20Images/June/white-noise2.png");
	background-blend-mode: hard-light;
}

.box-2 {
	grid-area: 4 / 2 / 5 / 3;
	background: #e1a549;
	background-image: url("https://raw.githubusercontent.com/lunaria79/Jackalupes-Corner/main/01%20Dream%20Journal/Dreams/03%20The%20Secret%20Garden/00%20Images/June/white-noise2.png");
	background-blend-mode: hard-light;
	transform: translateY(calc(-.5*var(--june-border-width)));
}

.box-3 {
	grid-area: 5 / 2 / 6 / 3;
	background: #a67f41;
	background-image: url("https://raw.githubusercontent.com/lunaria79/Jackalupes-Corner/main/01%20Dream%20Journal/Dreams/03%20The%20Secret%20Garden/00%20Images/June/white-noise2.png");
	background-blend-mode: hard-light;
	transform: translateY(calc(-.5*var(--june-border-width)));
}

.box-4 {
	grid-area: 6 / 2 / 7 / 3;
	background: #5a553f;
	background-image: url("https://raw.githubusercontent.com/lunaria79/Jackalupes-Corner/main/01%20Dream%20Journal/Dreams/03%20The%20Secret%20Garden/00%20Images/June/white-noise2.png");
	background-blend-mode: hard-light;
	transform: translateY(calc(-.5*var(--june-border-width)));
}

.image-3 {
	grid-area: 3 / 3 / 8 / 5;
	border-right: var(--june-borders);
	border-top: var(--june-borders);
	z-index: 2;
	transform: translateY(calc(-1 * var(--june-border-width)));
}

.image-4 {
	grid-area: 7 / 5 / 9 / 8;
	transform: translateY(calc(-1 * var(--june-border-width))) translateX(calc(-1 * var(--june-border-width)));
}

.image-5 {
	grid-area: 4 / 6 / 8 / 8;
	background: yellow;
	z-index: 3;
	border-radius: 10000px;
	border: var(--june-borders);
	transform: translateY(-5px) translateX(50px);
}

.june-links {
	grid-area: 8 / 3 / 9 / 5;
	background: #5a553f;
	background-image: url("https://raw.githubusercontent.com/lunaria79/Jackalupes-Corner/main/01%20Dream%20Journal/Dreams/03%20The%20Secret%20Garden/00%20Images/June/white-noise2.png");
	background-blend-mode: hard-light;
	border-right: var(--june-borders);
	transform: translateY(calc(-1 * var(--june-border-width)));
}

.june-links .nav-item {
	display: inline-grid;
	padding: 25px 50px;
	margin-left: 5px;
}

.june-links .nav-item a {
	font-size: 15px;
	color: rgb(var(--gold-tint)) !important;
	font-weight: 600;
	text-decoration: none !important;
}