@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.sims-4 * {
	--sims-green: red;
	--sims-blue: red;
	--sims-red: red;
	--sims-purple: red;
	--sims-black: #000;
}

// Fonts
.sims-4 {
	font-family: "Arvo", sans-serif;
	line-height: 2;
	p { color: var(--sims-black) !important; }
	img { padding: 20px 0; }
}

//Backgrounds
.sims-4 {
	background: white;
	.markdown-preview-sizer.markdown-preview-section { background: transparent; }
}