/* ==UserStyle==
@name           toyhou.se Cattpuccin
@namespace      github.com/openstyles/stylus
@version        1.0.0
@description    catboy supremacy!
@author         Jackalupe
@updateURL      https://github.com/lunaria79/Jackalupes-Corner/raw/main/06 Style Sheets/toyhouse.user.css
==/UserStyle== */

@-moz-document domain("toyhou.se") {
	* {
		transition: 350ms;
	
		--c-orange: 250, 179, 135;
		--c-green: 166, 227, 161;
		--c-blue: 137, 180, 250;
		--c-purple: 203, 166, 247;
		--c-pink: 245, 194, 231;
	
		--text: 205, 214, 244;
		--surface: 49, 50, 68;
		--base: 30, 30, 46;
		--mantle: 24, 24, 37;
		--crust: 17, 17, 27;
	}
}

@-moz-document domain("toyhou.se") {
/* Nav Bar */
#header {
	background: rgb(var(--mantle));
}

.navbar-inverse {
	.navbar-band {
		/* Logo */
		font-weight: 700;
		color: rgb(var(--c-purple));
	}

	.navbar-nav {
		.nav-link {
			/* Dropdown Title */
			color: rgb(var(--text));
			&:hover { color: rgb(var(--c-pink)); }
		}
	}
}

.navbar {
	.navbar-band {
		/* Logo */
		font-weight: 700;
		color: rgb(var(--c-purple));
	}

	.navbar-nav {
		.nav-link {
			/* Dropdown Title */
			color: rgb(var(--text));
			&:hover { color: rgb(var(--c-pink)); }
		}
	}

	.dropdown-menu {
		/* Dropdown Menu */
		color: rgb(var(--text)) !important;
		background: rgb(var(--mantle));
		border: none;
	
		.dropdown-header {
			/* Dropdown Menu Subheading */
			color: rgb(var(--c-blue));
		}
	
		a {
			/* Dropdown Menu Link */
			color: rgb(var(--text)) !important;
			&:hover {
				color: rgb(var(--c-pink)) !important;
				background-color: rgb(var(--surface), 0.5);
			}
		}
	
		.dropdown-divider {
			/* Dropdown Menu Divider */
			border-width: 2px;
			border-color: rgb(var(--crust));
		}
	}
}

}