/* ==UserStyle==
@name           toyhou.se Cattpuccin
@namespace      github.com/openstyles/stylus
@version        1.0.7
@description    catboy supremacy!
@author         Jackalupe
@updateURL      https://github.com/lunaria79/Jackalupes-Corner/raw/main/06 Style Sheets/toyhouse.user.css

@var	color	cRed	"Red Tint"	#f38ba8
@var	color	cOrange	"Orange Tint"	#fab387
@var	color	cYellow	"Yellow Tint"	#f9e2af
@var	color	cGreen	"Green Tint"	#a6e3a1
@var	color	cBlue	"Blue Tint"	#74c7ec
@var	color	cIndigo	"Indigo Tint"	#89b4fa
@var	color	cPurple	"Purple Tint"	#cba6f7
@var	color	cPink	"Pink Tint"	#f5c2e7

@var color cText "Text" #cdd6f4

@var color cSurface "Surface" #313244
@var color cBase "Base" #1e1e2e
@var color cMantle "Mantle" #181825
@var color cCrust "Crust" #11111b

==/UserStyle== */
@-moz-document domain("toyhou.se") {
  /* Basics */
  /* Footer */
  #footer {
    background: var(--cMantle);
  }
  /* Body */
  body {
    color: var(--cText);
    background: var(--cCrust);
  }
}
@-moz-document domain("toyhou.se") {
  /* Inputs */
  .btn {
    /* Buttons */
    border: none;
    font-weight: 600;
    color: var(--cBase);
    background: var(--cGreen);
  }
  .btn-primary {
    color: var(--cBase) !important;
  }
  .btn:active, .btn:hover {
    color: var(--cBase);
    background: var(--cOrange);
  }
}
@-moz-document domain("toyhou.se") {
  /* Navigation Bar */
  * {
    transition: 350ms;
  }
  #header {
    background: var(--cMantle);
  }
  .navbar-inverse .navbar-brand {
    /* Logo */
    font-weight: 700;
    color: var(--cPurple) !important;
  }
  .navbar-inverse .navbar-brand:hover {
    color: var(--cBlue) !important;
  }
  .navbar-inverse .navbar-nav .nav-link {
    /* Dropdown Title */
    color: var(--cText) !important;
  }
  .navbar-inverse .navbar-nav .nav-link:hover {
    color: var(--cPink) !important;
  }
  .navbar .dropdown-menu {
    /* Dropdown Menu */
    color: var(--cText) !important;
    background: var(--cMantle);
    border: none;
  }
  .navbar .dropdown-menu .dropdown-header {
    /* Dropdown Menu Subheading */
    color: var(--cBlue);
  }
  .navbar .dropdown-menu a {
    /* Dropdown Menu Link */
    color: var(--cText) !important;
  }
  .navbar .dropdown-menu a:hover {
    color: var(--cPink) !important;
    background-color: var(--cSurface);
  }
  .navbar .dropdown-menu .dropdown-divider {
    /* Dropdown Menu Divider */
    border-width: 2px;
    border-color: var(--cCrust);
  }
}
@-moz-document domain("toyhou.se") {
  /* Sidebar */
  #sidebar {
    background: var(--cMantle);
  }
  .nav-mobile-menu {
    border: none;
    background: var(--cBase);
  }
  .side-nav li {
    /* Special Link Colors */
  }
  .side-nav li.header {
    /* Sidebar Subheaders */
    font-weight: 800;
    color: var(--cMantle);
    background: var(--cPurple);
  }
  .side-nav li.subheader {
    /* Subheader Coloring */
    background-color: var(--cPink) !important;
  }
  .side-nav li.subheader a {
    font-weight: 700 !important;
    color: var(--cMantle) !important;
  }
  .side-nav li.subnavigation-header a.subnavigation-header-link {
    /* Dropdown Header */
    font-weight: 700 !important;
    color: var(--cMantle) !important;
    background-color: var(--cBlue) !important;
  }
  .side-nav li.subnavigation-header span {
    color: var(--cMantle) !important;
  }
  .side-nav li a {
    /* Sidebar Links */
    font-weight: 600;
    color: var(--cText);
  }
  .side-nav li a:hover {
    color: var(--cPink);
    background-color: var(--cSurface);
  }
  .side-nav li a span {
    vertical-align: middle;
    font-size: 1.4em;
    font-weight: 700;
    color: var(--cPurple);
  }
  .side-nav li.active a {
    /*Active Sidebar Link */
    font-weight: 800;
    color: var(--cPink) !important;
    background-color: var(--cSurface);
  }
  .side-nav li a[href*=block],
  .side-nav li a[href*=delete] {
    color: var(--cRed) !important;
  }
  .side-nav li a[href*="images/sort"],
  .side-nav li a[href*="images/manage"],
  .side-nav li a[href*="literatures/sort"],
  .side-nav li a[href*="tickets/create"] {
    color: var(--cOrange) !important;
  }
  .side-nav li a[href*=favorites] {
    color: var(--cYellow) !important;
  }
  .side-nav li a[href*="images/upload"],
  .side-nav li a[href*="literatures/create"] {
    color: var(--cGreen) !important;
  }
  .side-nav li.divider {
    border-width: 2px;
    border-color: var(--cCrust);
  }
  .side-nav img {
    margin-right: 1em;
    border-radius: 3px;
  }
}
@-moz-document domain("toyhou.se") {
  /* Folders */
  .characters-title,
  .display-user a,
  .characters-gallery-folder-description-header a {
    font-weight: 700;
    color: var(--cPurple);
  }
  .gallery-thumb .thumb-image a {
    border: none;
    background: transparent;
  }
  .gallery-thumb .thumb-image a:hover {
    transform: scale(1.05);
    transition: 0.5s;
    box-shadow: unset;
  }
  .gallery-thumb .thumb-image a img {
    border-radius: 10px;
  }
  .gallery-thumb .thumb-image a img:hover {
    background: var(--cMantle);
  }
  .gallery-thumb .thumb-character-stat {
    font-weight: 700;
  }
  .gallery-thumb .thumb-character-stat[title=Favorites] {
    color: var(--cYellow);
  }
  .gallery-thumb .thumb-character-stat[title=Images] {
    color: var(--cBlue);
  }
  .gallery-thumb .thumb-character-stat[title=Comments] {
    color: var(--cRed);
  }
  .gallery-thumb .thumb-character-stat[title=Links] {
    color: var(--cOrange);
  }
  .gallery-thumb .thumb-character-stat[title=Tabs] {
    color: var(--cPurple);
  }
  .gallery-thumb .thumb-character-stat[title=Edit] {
    color: var(--cOrange);
  }
}/*# sourceMappingURL=toyhouse.user.css.map */