/* ==UserStyle==
@name           toyhou.se Cattpuccin
@namespace      github.com/openstyles/stylus
@version        1.0.7
@description    catboy supremacy!
@author         Jackalupe
@updateURL      https://github.com/lunaria79/Jackalupes-Corner/raw/main/06 Style Sheets/toyhouse.user.css

@var	color	cRed	"Red Tint"	#f38ba8
@var	color	cOrange	"Orange Tint"	#fab387
@var	color	cYellow	"Yellow Tint"	#f9e2af
@var	color	cGreen	"Green Tint"	#a6e3a1
@var	color	cBlue	"Blue Tint"	#74c7ec
@var	color	cIndigo	"Indigo Tint"	#89b4fa
@var	color	cPurple	"Purple Tint"	#cba6f7
@var	color	cPink	"Pink Tint"	#f5c2e7

@var color cText "Text" #cdd6f4

@var color cSurface "Surface" #313244
@var color cBase "Base" #1e1e2e
@var color cMantle "Mantle" #181825
@var color cCrust "Crust" #11111b

==/UserStyle== */
@-moz-document domain("toyhou.se") {
  /* All Pages */
  * {
    transition: 350ms;
  }
  *:focus {
    box-shadow: unset !important;
  }
  img.display-user-avatar {
    /* Avatars */
    margin-right: 1em;
    border-radius: 3px;
  }
  .badge-default {
    /* Group Membership */
    padding: 5px;
    color: var(--cText);
    background: var(--cBase);
  }
  body {
    /* Background */
    color: var(--cText);
    background: var(--cCrust);
  }
  /* Footer */
  #footer {
    background: var(--cMantle);
  }
  #footer span {
    color: var(--cText);
  }
  #footer a {
    text-decoration: none;
    color: var(--cPink);
  }
  #footer a:hover {
    color: var(--cOrange);
  }
}
@-moz-document domain("toyhou.se") {
  /* Inputs */
  .btn {
    /* Buttons */
    border: none;
    font-weight: 600;
    color: var(--cBase);
    background: var(--cGreen);
  }
  .btn-primary {
    color: var(--cBase) !important;
  }
  .btn:active, .btn:hover {
    color: var(--cBase);
    background: var(--cOrange);
  }
}
@-moz-document domain("toyhou.se") {
  /* Navigation Bar */
  #header {
    background: var(--cMantle);
  }
  .navbar-inverse .navbar-brand {
    /* Logo */
    font-weight: 700;
    color: var(--cPurple) !important;
  }
  .navbar-inverse .navbar-brand:hover {
    color: var(--cBlue) !important;
  }
  .navbar-inverse .navbar-nav .nav-link {
    /* Dropdown Title */
    color: var(--cText) !important;
  }
  .navbar-inverse .navbar-nav .nav-link:hover {
    color: var(--cPink) !important;
  }
  .navbar .dropdown-menu {
    /* Dropdown Menu */
    color: var(--cText) !important;
    background: var(--cMantle);
    border: none;
  }
  .navbar .dropdown-menu .dropdown-header {
    /* Dropdown Menu Subheading */
    color: var(--cBlue);
  }
  .navbar .dropdown-menu a {
    /* Dropdown Menu Link */
    color: var(--cText) !important;
  }
  .navbar .dropdown-menu a:hover {
    color: var(--cPink) !important;
    background-color: var(--cSurface);
  }
  .navbar .dropdown-menu .dropdown-divider {
    /* Dropdown Menu Divider */
    border-width: 2px;
    border-color: var(--cCrust);
  }
}
@-moz-document domain("toyhou.se") {
  /* Sidebar */
  #sidebar {
    background: var(--cMantle);
  }
  .nav-mobile-menu {
    border: none;
    background: var(--cBase);
  }
  .side-nav li {
    /* Special Link Colors */
  }
  .side-nav li.header {
    /* Sidebar Subheaders */
    font-weight: 800;
    color: var(--cMantle);
    background: var(--cPurple);
  }
  .side-nav li.subheader {
    /* Subheader Coloring */
    background-color: var(--cPink) !important;
  }
  .side-nav li.subheader a {
    font-weight: 700 !important;
    color: var(--cMantle) !important;
  }
  .side-nav li.subnavigation-header a.subnavigation-header-link {
    /* Dropdown Header */
    font-weight: 700 !important;
    color: var(--cMantle) !important;
    background-color: var(--cBlue) !important;
  }
  .side-nav li.subnavigation-header span {
    color: var(--cMantle) !important;
  }
  .side-nav li a {
    /* Sidebar Links */
    font-weight: 600;
    color: var(--cText);
  }
  .side-nav li a:hover {
    color: var(--cPink);
    background-color: var(--cSurface);
  }
  .side-nav li a span {
    vertical-align: middle;
    font-size: 1.4em;
    font-weight: 700;
    color: var(--cPurple);
  }
  .side-nav li.active a {
    /*Active Sidebar Link */
    font-weight: 800;
    color: var(--cPink) !important;
    background-color: var(--cSurface);
  }
  .side-nav li a[href*=block],
  .side-nav li a[href*=delete] {
    color: var(--cRed) !important;
  }
  .side-nav li a[href*="images/sort"],
  .side-nav li a[href*="images/manage"],
  .side-nav li a[href*="literatures/sort"],
  .side-nav li a[href*="tickets/create"] {
    color: var(--cOrange) !important;
  }
  .side-nav li a[href*=favorites] {
    color: var(--cYellow) !important;
  }
  .side-nav li a[href*="images/upload"],
  .side-nav li a[href*="literatures/create"] {
    color: var(--cGreen) !important;
  }
  .side-nav li.divider {
    border-width: 2px;
    border-color: var(--cCrust);
  }
}
@-moz-document domain("toyhou.se") {
  /* User Pages */
  .members-title a,
  .characters-title,
  .display-user a,
  .characters-gallery-folder-description-header a {
    font-weight: 700;
    color: var(--cPurple);
  }
  .user-characters .characters-folder {
    /* Character Folders */
    background-color: transparent;
  }
  .user-characters .characters-folder:hover {
    background-color: transparent;
  }
  .user-characters .characters-folder:hover .characters-folder-name {
    color: var(--cPink);
    background: var(--cMantle);
  }
  .user-characters .characters-folder .characters-folder-name {
    border-radius: 5px;
    padding: 5px;
    color: var(--cText);
  }
  .user-characters .characters-folder .img-thumbnail {
    border: none;
    border-radius: 10px;
  }
  .user-characters .characters-folders-top a {
    /* Navigation */
    color: var(--cMantle);
    padding: 5px 10px;
  }
  .user-characters .characters-folders-top a:has(.fi-arrow-up), .user-characters .characters-folders-top a:has(.fi-arrow-left) {
    background: var(--cPink) !important;
  }
  .user-characters .characters-folders-top a:has(.fi-folder) {
    background: var(--cIndigo) !important;
  }
  .user-characters .characters-folders-top a:hover {
    color: var(--cMantle);
    background-color: var(--cOrange) !important;
  }
  .links-pagination {
    /* Pagination */
  }
  .links-pagination .page-item span {
    border: none;
    font-weight: 800;
    color: var(--cText) !important;
  }
  .links-pagination .page-item.disabled span {
    background: var(--cBase);
  }
  .links-pagination .page-item.active span {
    color: var(--cBase) !important;
    background: var(--cPurple);
  }
  .links-pagination .page-item a {
    border: none;
    font-weight: 800;
    color: var(--cText);
    background: var(--cBase);
  }
  .links-pagination .page-item a:hover {
    color: var(--cBase) !important;
    background: var(--cPink);
  }
  .characters-filterby:has(.characters-order-text) button#dropdownMenuButton {
    /* Order By Dropdown */
    cursor: pointer;
    padding: 5px 10px;
    color: var(--cMantle);
    background-color: var(--cIndigo) !important;
  }
  .characters-filterby:has(.characters-order-text) button#dropdownMenuButton:hover {
    color: var(--cMantle) !important;
    background-color: var(--cOrange) !important;
  }
  .characters-filterby:has(.characters-order-text) .dropdown-menu {
    border: none;
    border-radius: 5px;
    background: var(--cBase) !important;
  }
  .characters-filterby:has(.characters-order-text) .dropdown-menu a.dropdown-item {
    color: var(--cText) !important;
    background: transparent !important;
  }
  .characters-filterby:has(.characters-order-text) .dropdown-menu a.dropdown-item:hover {
    background-color: var(--cSurface) !important;
  }
  .characters-filterby:has(.characters-order-text) .dropdown-menu a.bg-faded {
    font-weight: 700;
    color: var(--cPink) !important;
    background-color: var(--cSurface) !important;
  }
  .character-thumb {
    /* Character */
    /* Charater Name */
  }
  .character-thumb .thumb-image a {
    /* Character Image */
    border: none;
    background: transparent;
  }
  .character-thumb .thumb-image a:hover {
    box-shadow: unset;
  }
  .character-thumb .thumb-image a img {
    border-radius: 10px;
  }
  .character-thumb .character-name-badge {
    /* Charater Name */
    border-radius: 5px;
    color: var(--cText) !important;
    background: transparent;
  }
  .character-thumb:hover .character-name-badge {
    color: var(--cPink) !important;
    background: var(--cMantle);
  }
  .character-thumb .thumb-character-stat {
    /* Character Stats */
    font-weight: 700;
  }
  .character-thumb .thumb-character-stat[title=Favorites] {
    color: var(--cYellow);
  }
  .character-thumb .thumb-character-stat[title=Images] {
    color: var(--cBlue);
  }
  .character-thumb .thumb-character-stat[title=Comments] {
    color: var(--cRed);
  }
  .character-thumb .thumb-character-stat[title=Links] {
    color: var(--cOrange);
  }
  .character-thumb .thumb-character-stat[title=Tabs] {
    color: var(--cPurple);
  }
  .character-thumb .thumb-character-stat[title=Edit] {
    color: var(--cOrange);
  }
  .gallery-item .img-thumbnail {
    /* Gallery Image */
    border: none;
    background: transparent;
  }
  .gallery-item .img-thumbnail:hover {
    box-shadow: unset !important;
  }
  .gallery-item .img-thumbnail img {
    border-radius: 10px;
  }
  .gallery-item .group-name {
    /* Gallery Name */
    border-radius: 5px;
    color: var(--cText) !important;
    background: transparent;
  }
  .gallery-item:hover .group-name {
    color: var(--cPink) !important;
    background: var(--cMantle);
  }
}
@-moz-document domain("toyhou.se") {
  /* Tags Menu */
  .characters-filterby a.characters-tags-view {
    /* Show Tags */
    color: var(--cBase) !important;
    background: var(--cGreen) !important;
    padding: 5px 10px;
  }
  .characters-filterby a.characters-tags-view:hover {
    background: var(--cOrange) !important;
  }
  .characters-filterby a.characters-tags-view.btn-primary {
    /* Hide Tags */
    color: var(--cBase) !important;
    background: var(--cRed) !important;
    padding: 5px 10px;
  }
  .characters-filterby a.characters-tags-view.btn-primary:hover {
    background: var(--cOrange) !important;
  }
  .characters-tags-clear {
    /* Chear Tags */
    background: var(--cRed) !important;
  }
  .characters-tags-clear:hover {
    background: var(--cOrange) !important;
  }
  .characters-tags-header div.input-group-addon {
    border: none;
    color: var(--cText);
    background: var(--cMantle);
  }
  .characters-tags-header input.characters-tag-search {
    border: none;
    color: var(--cText);
    background: var(--cBase);
  }
  .characters-tags-header ::-moz-placeholder {
    color: var(--cText);
  }
  .characters-tags-header ::placeholder {
    color: var(--cText);
  }
  a.characters-tags-all {
    /* View All Tags */
    color: var(--cBase) !important;
    background: var(--cGreen) !important;
    padding: 5px 10px;
  }
  a.characters-tags-all:hover {
    background: var(--cOrange) !important;
  }
  .characters-tag {
    /* Character Tag */
    cursor: pointer;
  }
  .characters-tag span, .characters-tag a {
    /* Blank Tag */
    color: var(--cText) !important;
    background-color: var(--cMantle) !important;
  }
  .characters-tag i {
    /* Icon Colors */
    opacity: 1 !important;
  }
  .characters-tag i.fa-plus {
    color: var(--cGreen) !important;
  }
  .characters-tag i.fa-minus {
    color: var(--cRed) !important;
  }
  .characters-tag .add:hover {
    /* Add Tag */
    background-color: var(--cGreen) !important;
  }
  .characters-tag .add:hover i {
    color: var(--cBase) !important;
  }
  .characters-tag:has(a.add:hover) span {
    color: var(--cMantle) !important;
    background-color: var(--cGreen) !important;
  }
  .characters-tag .ex:hover {
    /* Remove Tag */
    background-color: var(--cRed) !important;
  }
  .characters-tag .ex:hover i {
    color: var(--cMantle) !important;
  }
  .characters-tag:has(a.ex:hover) span {
    color: var(--cMantle) !important;
    background-color: var(--cRed) !important;
  }
  .characters-tag:has(.add.btn-primary) span.btn-primary {
    /* Selected Tag */
    color: var(--cBase) !important;
    background-color: var(--cGreen) !important;
  }
  .characters-tag:has(.ex.btn-primary) span.btn-primary {
    /* Hidden Tag */
    color: var(--cBase) !important;
    background-color: var(--cRed) !important;
  }
}/*# sourceMappingURL=toyhouse.user.css.map */